.c-progress-steps li.current span{
    
    background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    box-shadow: 0 7px 14px 0 rgb(6 86 255 / 50%);

}
.c-progress-steps li.current{

}
.c-progress-steps li.current:before{
    
}