
@font-face {
    font-family: 'OldEnglishATT';
    src: url('fonts/OldEnglishATT.eot');
    src: url('fonts/OldEnglishATT.eot?#iefix') format('embedded-opentype'),
        url('fonts/OldEnglishATT.woff2') format('woff2'),
        url('fonts/OldEnglishATT.woff') format('woff'),
        url('fonts/OldEnglishATT.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: optional;
}


@media screen and (min-width: 1367px) and (max-width: 1680px) {
	

}

/*============	Media Between Start ============ */
@media screen and (min-width: 1199px) and (max-width: 1366px)  {	
	
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
	

}
/*============	Media 991Px Start ============ */ 

@media (max-width: 991px) {	
	
}

/*============	Media 768Px Start ============ */ 
@media (min-width: 768px) and (max-width: 991px) {
	
}

/*============ Media 767Px Start ============ */
@media (max-width: 767px) {
	
}
/*============ Media 360Px Star ============ */
@media (max-width: 360px) {

}







































