.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .progress div{
  background-color: #61dafb;
} */


.c-progress-steps {
  display: table;
  list-style-type: none;
  margin: 0px auto 20px;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 99;
}
.c-progress-steps li.done {
  color: #9ba7ca;
}
.c-progress-steps li {
  display: table-cell;
  text-align: center;
  padding: 0;
  padding-bottom: 34px;
  white-space: nowrap;
  position: relative;
  border-left-width: 0;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #dbe0ec;
}

.c-progress-steps li:before {
  position: absolute;
  content: "\f110";
  font-family: fontawesome;
  left: 0;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #dbe0ec;

  bottom: -15px;
  left: 50%;
  margin-left: -16px;
}
.c-progress-steps li.current:before{
  content: "\f192";
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid;
} 
.c-progress-steps li.done:before {
  color: #9ba7ca;
  content: "\f00c";
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #9ba7ca;
}

    
.c-progress-steps li span {
  background-color: rgba(155, 167, 202, 0.1);
  border-radius: 3px;
  padding: 6px;
  -webkit-box-shadow: 0px 0px 5px 0.25px #eff1f7;
  box-shadow: 0px 0px 5px 0.25px #eff1f7;
  background-color: rgba(155, 167, 202, 0.09);
  text-transform: capitalize;
}








body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}


.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}
.popup_model{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50%;
  margin-top: -250px;
  bottom: 0px;
  z-index: 99999999;
}
.popup_model .modal-content{
  max-width: 80%;
  min-width: 80%;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border-radius: 100%;
  border: 1px solid #282c34;
  color: #282c34;
  height: 30px;
  width: 30px;
  background-color: #eff1f7;
}

.custom-field.fullwidth h6{
  display: none;
}
.custom-field.fullwidth{
  flex: 1 0 0;
}
.viewpage{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}
.viewpage::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  background-image: url('/public/vbg.png');
  background-size: 100% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  filter: blur(0.1px);
}
.viewpage::after{
  position: absolute;
  content: "";
  bottom: -100px;
  left: 0px;
  right: 0px;
  height: 200px;
  background-image: url('/public/vfbg.png');
  background-size: 100% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  filter: blur(0.1px);
}
.col-3{
  position: relative;
}
.heading-style{
  float: right;
  width: auto;
  position: relative;
  z-index: 999;
  padding: 7px 50px;
}
.heading-style h3{
  color: #fff;
  margin-bottom: 0px;
}
.heading-style span{
    color: #fff;
}
.profile_view{
  float: left;
  width: 100%;
}
.profile_view figure{
  width: 150px;
  height: 150px;
  background: #fff;
  border: 5px solid ;
  position: relative;
  top: 10px;
  /* border-radius: 100%; */
  overflow: hidden;
  margin-left: 130px;
  margin-bottom: 50px;
  margin-top: -175px;

}
.profile_view figure img{
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  filter: brightness(1.6) contrast(1);
}
.rtl_view{
  float: left;
  width: 100%;

}
.rtl_view h4{
  font-size: 16px;
  font-weight: 600;
  padding-left: 0px;
  margin-bottom: 12px;
}
.rtl_view.p0{
  padding-top: 0px;
}
.rtl_view p{
  font-size: 16px;
  color: #000;
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
.rtl_view p:last-of-type{
  margin-bottom: 20px;
}
.bg-title{
  display: inline-block;
  padding: 6px 24px;
  color: #ffffff;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 20px;
}

.flex_contain{
  float: left;
  width: 100%;
  padding: 55px 0px 100px;
}

.columns.lst{
  width: 12%;
  position: relative;
}
.columns-w8{
  width: 88%;
}
.col-10.bigexpend .columns-w8{
  width: 90%;
}
.col-10.bigexpend .columns.lst{
  width: 10%;
}

.sub_list{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.sub_list li{
    padding: 2px 5px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    margin: 2px ;
    cursor: pointer;
}
.sub_list li:hover{
  color: #fff;
}
.sub_list li.none-bg{
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.sub_list li.none-bg h4{
  margin-bottom: 0px;
}

.Toastify{
  z-index: 9999999;
  position: relative;
}