/*
=========================================================
                NGS Colors 
=========================================================
*/

.left-sidenav li.active > .children.active > li.active > a,
.children > li:hover > a,
.pagination li a ,
/* .left-sidenav li.active ul.children.active > li.active > a, */
/* .left-sidenav > .children > li.active > a, */
.selections_box input:focus + label h6,
  .custom-field input:focus + label h6,
.c-progress-steps li.current:before{
    color: #1a73e8;
}


/* ngs@national */

/*
=========================================================
                NGS BackGround 
=========================================================
*/
.Search_btn:hover{
  color: #fff;
}

.Search_btn:hover,
.checkbox span::before,
.radio_btns label span,
.colorsBtns,
.degress_buttons button:active,
.degress_buttons button:hover,
.degress_buttons button:focus,
.react-datepicker__header,
.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today,
.sub_list li:hover{
    background: #1a73e8;
}


.badge,
.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.sub_list li{
    background: #fd3c97;
}

/*
=========================================================
                NGS Border Color 
=========================================================
*/
.Search_btn:hover,
.checkbox.active input[type="checkbox"]:checked ~ label span,
.checkbox input[type="checkbox"]:checked ~ label span,
body div.reactEasyCrop_CropArea,
  body div.reactEasyCrop_CropAreaGrid::before,
  body div.reactEasyCrop_CropAreaGrid::after,
.custom-field.idGenerate:focus input,
.selections_box:focus,
.custom-field:focus,
.custom-field input:focus,
.c-progress-steps li.current:before{
    border-color: #1a73e8;
}


/*
=========================================================
                Default colors
=========================================================
*/

table thead {
    background:linear-gradient( 14deg, #1a73e8 0%, #1a73e8);
}


.fileUpload,
.pagination li:hover a,
.pagination li.active a ,
.sidebar nav > ul > li.active > a,
.bg-title,
.c-progress-steps li.current span {
    background: linear-gradient(14deg, #1a73e8 0%, #1a73e8);
    -webkit-box-shadow: 0 7px 14px 0 #1a73e8;
    box-shadow: 0 7px 14px 0 #1a73e8;
  }
  .c-progress-steps li.current {
    color: #ffffff;
    border-bottom-color: #1a73e8;
  }


  .side_wraper .sidebar nav > ul > li a span.badge{
    font-size: 8px;
  }
  .side_wraper .sidebar nav > ul > li.active a i:before,
  .side_wraper .sidebar nav > ul > li.active a span:before{
    color: #fff;
  }
  .side_wraper .sidebar nav > ul > li > a i:before,
  .side_wraper .sidebar nav > ul > li > a span:before{
    color: #1a73e8;
  }

  .c-progress-steps li.green{
    border-bottom-color: #07bc0c;
  }
  .c-progress-steps li.green::before{
    color: #07bc0c;
    content: "\f00c";
    border-color: #07bc0c;
  }
  .c-progress-steps li.green span{
    background-color: #07bc0c;
    color: #fff;
  }



  .profile_view figure{
    border-color: #ba9a34;
  }







  .zoom-range::-webkit-slider-thumb ,
  .zoom-range::-moz-range-thumb,
  .zoom-range {
    background: #1a73e8;
  }

  .zoom-range::-webkit-slider-thumb ,
  .zoom-range::-moz-range-thumb{
    border-color: #1a73e8;
  }

  .custom-field p,
  .selections_box.custom-field:focus + h6{
    color: #A91B0D;
  }

  .upload_image.error,
  .custom-field.idGenerate .selections_box.errors,
  .custom-field.fullwidth.errors,
  .custom-field.selections_box.errors,
  .custom-field.idGenerate.error input,
  .custom-field.errors input,
  .custom-field.errors select,
  .custom-field.errors textarea,
  .custom-field.errors input{
	border-color: #A91B0D !important;
  }
  .custom-field.errors h6,
  .custom-field.idGenerate.error h6{
	color: #A91B0D !important;
  }

  
  /* .elements .badge,
.progress div{
	background: #ffb822;
} */
.parentOfupload .btn-normal.successfully{
	background: #ffb822;
	color: #fff;
}








.bg-perple .flex .designicon{
    background-color: #1a73e8;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(109 129 245 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(109 129 245 / 50%);
}
.bg-perple h2{
    color: #1a73e8;
}
.bg-red .flex .designicon{
    background-color: #fd3c97;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(253 60 151 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(253 60 151 / 50%);
}
.btn_capture,
.btn-normal.style2{
    background: #fd3c97;
}


.remove_item,
.heading .btn-normal span,
.bg-red h2{
    color: #fd3c97 ;
}
.bg-skyblue .flex .designicon{
    background-color: #0dc8de;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(13 200 222 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(13 200 222 / 50%);
}
.bg-skyblue h2{
    color: #0dc8de ;
}
.bg-yellow .flex i{
    background-color: #ffb822;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(255 184 34 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(255 184 34 / 50%);
}
.bg-yellow h2{
    color: #ffb822;
}
.mid.rd{
    color: #A91B0D;
}


.bg-green .flex .designicon{
    background-color: #07bc0c;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
}

.bg-green h2{
    color: #07bc0c;
}

.bg-green .flex .designicon{
    background-color: #07bc0c;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
}

.bg-green h2{
    color: #07bc0c;
}




.btn-normal{
    background: -webkit-linear-gradient( 14deg, #1a73e8 0%, #1a73e8);
    background: -moz-linear-gradient( 14deg, #1a73e8 0%, #1a73e8);
    background: -o-linear-gradient( 14deg, #1a73e8 0%, #1a73e8);
    background: linear-gradient( 14deg, #1a73e8 0%, #1a73e8);
    box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%);
}



.sick-days-Red{
    background-color: #fd3c97 !important;
} 

.sick-days-Orange{
    background-color: #e7b416	 !important;
}
.sick-days-Green{
    background-color: #07bc0c !important;
}
.sick-days-blue{
  background-color: #1a73e8 !important;
}
.status_lights{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100px;
  height: 40px;
}
.status_lights li{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 100%;
  border:1px solid #fff;
}
.status_lights li:last-child{
  margin-right: 0px;
}
.status_lights li span{
  display: inline-block;
}