.header {
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 0 10px 0 0;
    min-height: 70px;
    /* position: relative; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99999;
    -webkit-box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
}
.logo {
    float: left;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo .animatlogo{
    margin-bottom: 0px;
}
.full{
    width: 100%;
    float: left;
    position: relative;
}
.logo h1 {
    width: 48px;
    display: inline-block;
    line-height: 0px;
    position: relative;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;
}
.logo span {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    display: inline-block;

    /* background:#333 -webkit-radial-gradient(circle,rgb(226, 6, 6),rgba(122, 6, 6, 0),rgba(255,255,255,0)) no-repeat -280px -94px;
  -webkit-background-clip:text;
  -webkit-background-size:388px;
  -webkit-animation:ani 6s linear infinite; */
}

/* @keyframes ani{
    from{background-position:-280px -94px;}
    to{background-position:680px -94px;}
  } */

.flex_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    position: relative;

}
.flex_box .heading.align-center{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}
.rtl_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_btn img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.profile_btn span {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}

.toggle_button {
    flex: auto;
}

.toggle_button button {
    padding: 0 0.75rem;
    color: #7081b9;
    font-size: 18px;
    z-index: 999;
    position: relative;
    top: 3px;
}
.toggle_button button i,
.toggle_button button i:before,
.toggle_button button i span:before{
    font-size: 20px;
    color: #a1a1a1 !important;
}
.toggle_button.active i span:before{
    color: #1a73e8 !important;
}


.side_wraper {
    /* min-width: 100%;
    max-width: 100%; */
    background-color: #ffffff;
    
    -webkit-box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    -webkit-transition: .3s;
    transition: .3s;
    padding: 24px 10px;
    position: relative;
        /* min-height: min-content;
    max-height: fit-content; */

    overflow-y: scroll;
    /* height: calc(100% + 100%); */
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0px;
    width:17%;
    padding-bottom: 150px;
}

.flex{
    display: flex;
}
.flex .wapper_content.bigexpend{
    width: 94%;
}
.side_wraper .sidewidget {
    width: 17%;
}
.flex .wapper_content{
    width: 82%;
}
/* width */
.side_wraper::-webkit-scrollbar {
    width: 2px;
    border-radius: 30px;
  }
  .flex .wapper_content.bigexpend .status_cards{
    flex: 0 0 22.5vw;
  }
  
  /* Track */
  .side_wraper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .side_wraper::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .side_wraper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.side_wraper.move{
    padding: 0px 2px 20px;
    text-align: center;
    top: 80px;
    
}
.flex .sidewidget.expend{
    flex: 0 0 70px;
    position: relative;
    z-index: 99;
    padding-right: 0px;
}
.flex .sidewidget.expend .side_wraper.move{
    width: 70px;
    padding-top: 0px;
    padding-bottom: 150px;
} 
.wapper_content{
    transition:width 0.2s ease-in;
	-moz-transition:width 0.2s ease-in;
	-ms-transition:width 0.2s ease-in;
	-o-transition:width 0.2s ease-in;
	-webkit-transition:width 0.2s ease-in;
}

.side_wraper.move .sidebar li a{
    justify-content: center;
    font-size: 0px;
}

.side_wraper.move .sidebar li a i{
    margin-right: 0px;
    display: block;
}
.side_wraper.move .sidebar li a .badge{
    display: none;
} 
.sidebar li{
    position: relative;
    float: left;
    width: 100%;
}
/* .sidebar li:before{
    position: absolute;
    content: "\f105";
    top: 50%;
    font-size: 16px;
    color: #303e67;
    font-family: "fontawesome";
    right: 2px;
    bottom: 0px;
    margin-top: -14px;
} */
.side_wraper.move .left-sidenav .children > li.active > a{
    color: #fff;
    background: linear-gradient(14deg, #0dc8de 0%, #0dc8de);
    box-shadow: 0 7px 14px 0 #0dc8de;
}


.side_wraper.move .left-sidenav .children.subchildren.active > li.active a{
    background: linear-gradient(14deg, #07bc0c 0%, #07bc0c);
    box-shadow: 0 7px 14px 0 #07bc0c;
}
.side_wraper.move .left-sidenav .children.subchildren.active{
    
}
.side_wraper.move .left-sidenav .children.subchildren li::before{
    background-color: transparent;
    border:1px solid #000;
}
.sidebar nav {
    width: 100%;
    float: left;  
}

.side_wraper.move ul{
    list-style: none;
    padding-left: 0px;
}
.side_wraper.move .children li a{
    padding: 10px 10px;
    border-radius: 4px;
}
.side_wraper .children li a i{
    display: none;
}

.side_wraper .left-sidenav li a i::before,
.side_wraper .left-sidenav li a span::before{
    font-size: 27px;
}
.sidebar {
    float: left;
    width: 100%;
}

.sidebar>nav>ul {
    margin: 0px;
    padding: 0px;
}

.sidebar li {
    width: 100%;
    margin-bottom: 5px;
}

.sidebar>li>i {
    width: 25px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
}

.sidebar li a {
    display: inline-block;
    padding: 4px 4px;
    color: #586571;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    position: relative;
    text-transform: capitalize;
}

.sidebar nav > ul > li.active > a {
    color: #ffffff;
    border-radius: 4px;
}

.sidebar li a i {
    margin-right: 10px;
    font-size: 16px;
}
.sidebar li a i.arrow{
    position: absolute;
    right:0px;
    top: 50%;
    font-size: 8px;
    margin-top: -7px;
}
.sidebar li a i.arrow::before{
    font-size: 14px;
}
.sidebar li.active a i.arrow{
    transform: rotate(90deg);
}

.badge {
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    padding: 4px 6px 3px;
    font-weight: 500;
    line-height: 10px;
    float: right;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -8px;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
}
.subchildren,
.children {
    list-style: disc;
    margin: 0px;
    float: left;
    width: 100%;
    padding-left: 50px;
    padding: 5px 0px 0px 40px;
    visibility: hidden;
    display: none;
}
.subchildren{
    list-style: circle;
}

.subchildren.active,
.children.active{
    display: block;
    visibility: visible;
}

.subchildren li a,
.children li a {
    padding: 10px 10px;
    color: #586571;
    font-size: 13.5px;
    border-left: none;
    text-transform: capitalize;
}
.subchildren li a,
.children li a {
    padding: 5px 10px;
}
.side_wraper.move .left-sidenav .children li{
    position: relative;
    width: 100%;
}
.side_wraper.move .left-sidenav .children li::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 12px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #000;
    margin-top: -3px;
    z-index: 9;
}
.side_wraper.move .left-sidenav .children li i{
    color: #000;
    padding-left: 10px;
}
.side_wraper.move .left-sidenav .children li i span::before{
    color: #000;
    font-size: 25px;
}
.side_wraper.move .left-sidenav .children li::marker{
    margin-top: -2px;
}
.side_wraper.move .left-sidenav .children li.active > a > i > span:before{
    color: #fff;
}
.side_wraper.move .left-sidenav .children > li.active::before{
    background-color: #fff;
}
.wrap_content {
    float: left;
    width: 100%;
}

.wapper_content {
     padding: 30px 10px 30px 0px;
    float: right;
    width: 100%;
    height: 100%;
	/* overflow: hidden; */
    position: relative;
}

.background_image{
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	width: 30%;
    text-align: center;
    margin: 20px auto;
    opacity: 0.04;
}
.wapper_content > .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0px;
	top: 0px;
	bottom: 0px;
    z-index: 0;
    margin: 0 auto;
}
.element_group{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    /* opacity: 0.70; */
    margin-top: 60px;
}

/*=========================*/
/*        Datatable        */
/*=========================*/

table {
    border: 1px solid #eaf0f7;
    color: #7286a2;
    border-collapse: separate !important;
    border-spacing: 0px;
    background: #fff;
}

table tbody tr td,
table thead tr th {
    border-bottom: 1px solid #eaf0f7;
    border-right: 1px solid #eaf0f7;
    padding: 0.75rem;
    font-size: 13px;
}

table thead tr th:first-child{
    border-left: none;
}


table tbody tr td:last-child,
table thead tr th:last-child {
    border-right: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table thead tr th {
    text-transform: capitalize;
    border-width: 1px;
    border-color: #eaf0f7;
    color: #fff;
    font-weight: 500;
    padding: 0.75rem;
}
table tbody tr td:first-child,
table thead tr th:first-child {
    text-align: center;
}

.FinalScreen.grid_by_table{
    margin-bottom: 0px;
}
.FinalScreen.grid_by_table thead tr th{
    color: #000;
    font-weight: 600;
    font-size: 10px;
}
.FinalScreen.Total_Amount{
    flex: 0 0 33.555%;
    /* border: 1px solid #eaf0f7; */
    padding: 5px 0px 3px;
    margin: 0px;
    list-style: none;
}
.FinalScreen.Total_Amount ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.FinalScreen.Total_Amount h5{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}
.pagination {
    display: flex;
    width: auto;
    float: right;
}
.pagination li.disabled a {
    color: #7286a2;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #eaf0f7;
}
.pagination li:first-child a {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #eaf0f7;
}
.pagination li:hover a,
.pagination li.active a {
    color: #ffffff;
    border-radius: 4px;
}

.pagination li.disabled:hover a {
    color: #7286a2;
    pointer-events: none;
    cursor: auto;
    background: #fff;
    border-color: #eaf0f7;
    box-shadow: none;
}

/* .footer {
    position: absolute;
    bottom: 80px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
    z-index: 999999;
    width: 100%;
    text-transform: capitalize;
} */
.footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
    z-index: 999999;
    width: 100%;
    display: none;
    text-transform: capitalize;
}

.footer p {
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
}





.deshboard_status{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    position: relative;
}

.status_cards {
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 7px 0.2px rgba(0,0,0,0.2);
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    padding:10px 7px;
    /* flex: 0 0 19.5vw; */
    /* width: 100%; */

    box-shadow: 0px 0px 7px 0.2px rgba(0,0,0,0.2);
    
}

.sm-title {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    color: #303e67;
    text-shadow: 0 0 1px rgb(239 242 249 / 10%);
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.status_cards .flex .designicon {
    font-size: 28px;
    color: #ffffff;
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: block;
    text-align: center;
    border-radius: 52% 48% 23% 77% / 44% 68% 32% 56%;
    
}

.flex h2{
    line-height: 30px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: normal;
}
.flex h5 a i{
    color: #000;
    background-color: transparent;
    display: inline-block;
    margin-right: 5px;
}
.status_cards span{
    color: #1ecab8;
}
.status_cards p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4abc5;
    font-weight: 300;
    margin-bottom: 0px;
}
.bigicon{
    display: inline-block;
    color: #fff;
}
.bigicon i span{
    font-size: 32px;
    color: #fff;
}
.bigicon i span:before{
    color: #fff !important;
}





.box_layout{
    float: left;
    width: 100%;
    padding: 1.25rem;
    background: #fff;
    position: relative;
}

.c-title{
    
    margin: 0;
    color: #303e67;
}
.tabs_system{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.tabs_system li{
    float: left;
    width: 100%;
    cursor: pointer;
}
.elements {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  
}
.elements .badge{
    padding: 4px 6px 5px;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(255 184 34 / 30%);
    box-shadow: 0 5px 5px rgb(255 184 34 / 30%);
}
.folder_names{
    line-height: normal;
}
.elements i{
    font-size: 22px;
    vertical-align: middle;
    margin-right: 15px;
    font-style: normal;
}
.elements h6{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 15px;
    float: left;
    width: 100%;
}
.elements span{
    float: left;
    width: 100%;
}
.elements p{
    margin-bottom: 0px;
}


.child_element{
    float: left;
    width: 100%;
    padding-left: 20px;
}
.child_element li {
    float: left;
    width: 100%;
    line-height: normal;
    cursor: pointer;
}
.child_element li h6{
    font-weight: 600;
    font-size: 13px;
}
.child_element li small{
    font-size: 12px;
}
.tabs_system .elements{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.assets_layout{
    float: left;
    width: 100%;
}
.assets_layout h6{
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}
.flexs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.file-box{
    border: 1px solid #eff2f9;
    border-radius: 5px;
    padding: 20px;
    width: 160px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-bottom: 16px;
    background-color: #ffffff;
}
.file-box .downloadIcons{
    float: right;
    font-size: 16px;
    color: #9ba7ca;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    
}
.proDetail{
    float: left;
    width: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}
.proDetail i{
    font-size: 36px;
    color: #9ba7ca;
}
.proDetail h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0px 0px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}
.proDetail small{
    color: #9ba7ca;
    font-size: 11px;
    display: inline-block;
    width: 100%;
    line-height: normal;
}

.btn-normal{
    display: inline-block;
    padding: 6px 24px;
    color: #ffffff;
    border-radius: 4px;
    text-transform: capitalize;
    margin-right: 10px;
}
.btn-normal:hover{
    color: #fff;
}
.btn-normal.style2{
    color: #ffffff;
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
}
.rtl{
    float: right;
}
.btn-normal:last-child{
    margin-right: 0px;
}

.reletive-flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.align_pm{
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -12px;
    font-size: 10px;
}

/* .selections{
    width: 50%;
} */
.full-width{
    width: 100%;
}
.full-width .custom-field label{
    position: relative;
}
.webCam{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.top-right{
    position:absolute;
    top: -100px;
    right: 0px;
    width: auto;
    height: 100px;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  z-index: 9;
}
.top-right img{
width: 100%;
padding: 0px 0px;
height: 100%;
opacity: 1;
}
@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.btn_capture{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 2px 12px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    z-index: 999;
}
.btn_capture i{
    margin-right: 5px;
}
.selections h6{
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.selections .flex{
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.radio_btns{
  line-height: normal;
  margin-right: 15px;
  width: 100%;
  margin-bottom: 0px;
  line-height: 0px;
}
.radio_btns label{
    margin-bottom: 0px;
}
.radio_btns input{
    display: none;
}
.radio_btns label{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}
.radio_btns label span{
    float: left;
    width: 20px;
    position: relative;
    height: 20px;
    border-radius: 5px;
    margin-right: 7px;
}
.radio_btns label span::before{
    position: absolute;
    content: "\f00c";
    font-family: fontawesome;
    color: #fff;
    font-size: 18px;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: -9px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.radio_btns input[type="radio"]:checked + label span::before{
    opacity: 1;
    visibility: visible;
}
.heading{
    float: left;
    width: 100%;
}
.heading h4{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.heading h5{
    position: relative;
}
.heading h5 button{
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    padding-left: 0px;
}
.heading h5 button span{
    margin-right: 10px;
}
.heading .btn-normal{
    padding: 4px 10px 5px 30px;
    font-size: 12px;
    list-style: normal;
    margin-right: 0px;
    margin: -10px 0px 0px 0px;
}
.heading .btn-normal span{
    position: absolute;
    left: 10px;
    margin: 0px 0px 0px;
    padding: 5px 7px;
    top: 0px;
    line-height: 20px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
    background-color: #fff;
}
.heading .btn-normal.family_tree{
    padding: 0px;
}
.heading .btn-normal.family_tree span{
    position: relative;
    padding: 4px 10px;
}
.heading img{
    width: 42px;
}
.heading .grap_pin{
    float: right;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
}
.element_pr input[type="file"]{
    display: none;
}
.fileUpload{
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.fileUpload label{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
.fileUpload label h6{
    margin-bottom: 0px;
}
.uploadfiles{
    margin-bottom: 22px;
    cursor: pointer;
    padding: 10px 15px;
    width: 220px;
    position: relative;
}
.uploadfiles:hover{
    color: #fff;
}
.form_desgin.flex .uploadfiles i{
    cursor: pointer;
    margin-bottom: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_desgin.flex .uploadfiles span{
    padding-left: 30px;
}
.margin0{
    margin-bottom: 0px;
}
.form_desgin .uploadfiles label i,
.uploadfiles h6{
    color: #fff;
}
.ml-5{
    margin-left: 15px;
}

.ag-theme-alpine.h100{
    height: 80vh !important;
}
.flex.active{
    display: flex; 
}
.flex .columns{
    width: 33%;
}
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .student_list{
    width: 24%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #fff;
  }
  .student_list img{
     width: 80px;
     margin-right: 15px;
     border-radius: 100%;
  }
  .student_list h6{
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10px;
  }
  .student_list span{
      font-weight: 400;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      float: left;
  }
  .custom_deta{
    width: 65%;
  }
  


.btn-absulote{
    position: absolute;
    bottom: 90px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}
.uploadPicture{
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: auto;
}
.uploadPicture label{
    margin: 0px;
    cursor: pointer;
}

.apexcharts-toolbar{
    display: none !important;
}

.flex_grid{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
}
.flex_grid .level_one{
    width: auto;
    flex: 0 0 50%;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding: 14px;
}
.flex_grid > .level_one:first-child{
    border-right: none;
    background-color: #ffb822;
}
.flex_grid > .level_one:last-child{
    background-color: #f1646c;
}
.flex_grid > .level_one{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.flex_grid > .level_one > h5{
    color: #fff;
}

.flex_grid .level_one h5{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}


.checkbox label i{
    display: none;
}

.checkbox input{
    display: none;
}
.checkbox label{
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0px;
}
.checkbox h6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    cursor: pointer;
}
.checkbox span{
    width: 16px;
    height: 16px;
    text-align: center;
    list-style: 16px;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.checkbox span::before{
    position: absolute;
    content: "\F12C";
    font-family:"Material Design Icons";
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    bottom: 0px;
    line-height: 13px;
    font-weight: 600;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    text-shadow: 1px 0px 2px #000;

}
.checkbox.active input[type="checkbox"] ~ label span:before,
.checkbox input[type="checkbox"]:checked ~ label span:before{
    visibility: visible;
    opacity: 1;
   
}
.checkbox.active input[type="checkbox"]:checked ~ label span,
.checkbox input[type="checkbox"]:checked ~ label span{
    box-shadow: 0px 0px 0px 1px #007bff;
}

.level_one .flex .level_one{
    width: auto;
}
.level_one .flex .level_one:first-child{
    width: 70%;
}
.level_one .flex .level_one:last-child{
    width: 30%;
}
.columns > .checkbox{
    margin-bottom: 0px;
}
.columns > .flex{
    justify-content: flex-start;
}
.columns > .flex .checkbox{
    margin-right: 12px;
}
.columns > .flex .checkbox:last-child{
    margin-right: 0px;
}
.flex_grid .level_one .flex .columns{
    width: auto;
    margin-right: 10px;
    flex: 0 0 45%;
    /* margin-bottom: 10px; */
}
.flex_grid .level_one > .flex > .columns > .columns{
    margin-bottom: 10px;
}
.flex_grid .level_one > .flex{
    align-items: flex-start;
}
.columns .sm-title{
    font-size: 14px;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.add_model_head button{
    padding: 10px 24px;
}
.Fees_grid .flex{
    width: auto;
    align-items: center;
    justify-content: space-between;
}
.grid_by_table.mb0{
    margin-bottom: 0px;
}
.Fees_grid{
    padding-top: 30px;
}
.Fees_grid .flex .custom-field{
    margin: 0px 10px 0px 0px;
}
.Fees_grid .flex.form_desgin{
    margin-bottom: 30px;
    justify-content: center;
}
.Fees_grid .flex.form_desgin .column{
    flex: 0 0 50%;
    display: flex;
}
.remove_item{
    font-size: 16px;
}
.grid_by_table .custom-field label{
    display: none;
}
.grid_by_table .custom-field{
    margin: 0px;
}
.grid_by_table .custom-field input{
    padding-left: 10px;
    border:none;
}
.grid_by_table{
    border:none;
    width: 100%;
    table-layout: auto !important;
}
.grid_by_table tr td,
.grid_by_table tr th{
    text-align: center;
    width: auto !important;
}


.voucher{
    float: left;
    width: 100%;
    position: relative;
}
.voucher .flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading_titile{
    text-align: center;
}
.voucher .flex .logo{
    width: 70px;
}
.voucher .flex .logo img{
    width: 100%;
}
.reg_picture{
    width: auto;
    height: 95px;
    overflow: hidden;
    /* filter: grayscale(100%); */
}
.reg_picture img{
    /* transform: translate(0px, 10px); */
    height: 100%;
    width: 100px;
}
.voucher h6{
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.voucher ul {
    float: left;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 14px;
    list-style: disc;
}
.voucher ul li{
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 2px;
}
.voucher ul li:last-child{
    margin-bottom: 0px;
}
.mb30,
.voucher .mb30{
    margin-bottom: 30px;
}
.Spratorline{
    float: left;
    width: 116%;
    border: 2px solid #ccc;
    position: relative;
    margin: 30px -45px;
    border-style: dashed;
}
.Spratorline::before{
    position: absolute;
    bottom: -13px;
    left: -5px;
    content: "\f0c4";
    font-size: 18px;
    color: #333;
    font-family: fontawesome;
}

.heading_titile h6 i{
    margin-right: 5px;
}

.flex.align-starts{
    align-items: flex-start;
    padding: 0px 0px;
}
.custom_margin{
    margin: 10px 50px 0px;
}
.voucher .flex .column{
    /* width: 24%; */
    flex: 0 0 33%;
}
.voucher .flex .column b{
    margin-right: 5px;
    font-weight: 500;
    font-size: 10px;
}
.upload_image.error{
    border:2px solid ;
}
.column.center_point{
    flex: 1 0 0;
    
}

.voucher .grid_by_table th{
    padding: 5px;
    background-color: transparent;
    font-size: 10px;
}
.voucher .grid_by_table td{
    padding: 4px;
    font-size: 10px;
    color: #000;
}
.voucher .grid_by_table thead{
    background: transparent;
}


.signature{
    float: left;
    text-align: left;
    width: 100%;
    margin: 0px 0px 0px;
    position: relative;
}
.signature h5{
    margin: 0px;
    float: left;
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    position: relative;
}
.signature::before{
    position: absolute;
    bottom: -10px;
    content: "";
    border-bottom: 1px solid #ccc;
    left: 0px;
    width: 274px;
}
.actionButtons i{
    cursor: pointer;
    width: auto;
    font-size: 18px;
    margin-right: 10px;
}
.actionButtons i:last-child{
    margin-right: 0px;
}
.ag-header-cell-menu-button:not(.ag-header-menu-always-show){
    opacity: 1 !important;
}






.proceed.popup_model .modal-content .pull-right .btn-normal{
    float: right;
    margin: 15px 0px 0px;
    margin-left: 15px;
}
.proceed.popup_model .modal-content .pull-right .btn-normal:last-child{
    margin-left: 0px;
}
.ag-theme-alpine .ag-ltr .ag-row-group-leaf-indent{
    margin-left: 0px !important;
}

.Slider_bg{
   position: relative;
   float: left;
   width: 100%; 
}
.Slider_bg img{
    filter: blur(1px);
}



.animatlogo{
    text-align: center;
    margin-bottom: 20px;
}
.animatlogo img {
    width: 98px;
    display: inline-block;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.login{
    position: relative;
    z-index: 999;
    background: #f9f9f9;
    width: 400px;
    height: 100vh;
    padding: 30px;
}
@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {

        -webkit-transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1);
        transform: perspective(400px) scale3d(1, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 10px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1);
        transform: perspective(400px) scale3d(1, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.animatlogo .back{
    animation-name: flip;
    opacity: 1;
    animation-delay: 1s;
    position: absolute;
}
.front { opacity: 1; }
.back { opacity: 0; ;}
 
@keyframes loader4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader4 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


.login_form{
    float: left;
    width: 100%;
    
}
.login_form .felids{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.login_form .felids label{
    float: left;
    width: 100%;
}
.login_form .felids i{
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -12px;
    transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
.login_form .felids.error input{
    border-color: red;
}
.login_form .felids.error i{
    color: red;
}
.login_form .felids.error i span:before{
    color: red;
}
.login_form .felids.error input::-moz-placeholder{
    color: red;
}
.login_form .felids.error input::-webkit-placeholder{
    color: red;
}
.login_form .felids.error input::placeholder{
    color: red;
}
.login_form .felids i::before,
.login_form .felids i span:before{
    font-size: 20px;
}

.login_form .felids input{
    border:none;
    width: 100%;
    background-color: transparent;
    color: #333;
    border:none;
    padding: 0px 0px 0px 30px;
    border-bottom: 1px solid #a1a1a1;

    transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
.login_form .felids input:focus{
    border-bottom-color: #1a73e8;
}
.login_form .felids input:focus + span{
    color: #1a73e8;
}
.login_form .felids input::placeholder{
    color: #333;
    padding-left: 0px;
}
.login_form .felids input::-moz-placeholder{
    color: #333;
}
.login_form .felids input::-webkit-placeholder{
    color: #333;
}
.heading_of_login{
    float: left;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.heading_of_login h5{
    font-size: 25px;
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
}
.helptologin{
    color: #0f1149;
}
.helptologin i{
    margin-right: 5px;
}
.heading_of_login p{
        font-size: 12px;
}
.signin_Btn{
    margin: 15px 0px 0px;
}
.bottom_row{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}
.bottom_bar {
    width: 100%;
    
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: rgb(199 138 62 / 100%);
}
.bottom_bar li {
    flex: auto;
    position: relative;
    text-align: center;
}
.bottom_bar li::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: skew(-16deg, 0deg) scale(1);
}
.bottom_bar li:before{
    transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
.bottom_bar li:nth-child(odd):before{
    background: rgb(199 138 62 / 100%);
}
.bottom_bar li:nth-child(even):before{
    background: rgb(186 120 40 / 60%);
    transform: skew(-16deg, 0deg) scale(1);
}
.bottom_bar li:nth-child(odd) a{
    color: #fff;
}
.bottom_bar li:nth-child(even) a{
    color: #fff;
    z-index: 99;
}
.bottom_bar li:nth-child(even)::before{
    z-index: 99;
    background: rgb(186 120 40 / 60%);
}
.bottom_bar a{
    color: #fff;  
    font-size: 16px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: normal;
    font-weight: 400;
    width: 100%;
    padding: 20px 0px 15px;

}
.bottom_bar li:hover::before{
    background: #fff;
    box-shadow: 0 0 5px 2px rgb(51 51 51 / 30%);
}
.bottom_bar li:before{
    transform: skew(-14deg, 0deg) scale(1);
}
.bottom_bar li:hover {
    z-index: 999;
}
.bottom_bar li:hover a{
    color: #464466;
}
.OverflowHide{
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100vh;
}
.bottom_bar a i{
    width: 100%;
    font-size: 20px;
    margin-bottom: 0px;
    display: inline-block;
}
.bottom_bar a i,
.bottom_bar a i span{
    font-size: 50px;
    color: #fff;
}
.bottom_row .bottom_bar a i:before,
.bottom_row .bottom_bar a i span:before{
    color: #fff;
}
.bottom_bar li:hover a i::before,
.bottom_bar li:hover a i span::before{
    color: #a1a1a1;
}
.copyrights{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #fff;
}
.copyrights ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyrights ul li{
    position: relative;
    margin-right: 10px;
    padding-right: 15px;
}
.copyrights ul li::before{
    position: absolute;
    content: "/";
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.copyrights ul li:last-child{
    padding-right: 0px;
}
.copyrights ul li:last-child:before{
    display: none;
}
.copyrights p,
.copyrights ul li a{
    display: inline-block;
    font-size: 10px;
}

.searchBox{
    position: relative;
}
.searchBox input{
    border-radius: 20px;
}
.searchBox input:focus{
    border-color: #007bff;
    color: #007bff;
}
.searchBox input:focus + label i{
    color: #007bff;
}
.searchBox label{
    position: absolute;
    top: 50%;
    right: 0px;
    text-align: center;
    margin-top: -8px;
    width: 40px;
    cursor: pointer;
}
.searchBox label i{
    font-size: 16px;
    color: #ccc;
}
.Search_btn{
    border:1px solid #a1a1a1;
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    color: #a1a1a1;
    border-radius: 100%;
}

.floating{
    float: left;
    width: 100%;
}
.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.social_media li{
    margin-right: 10px;
}
.social_media li:last-child{
    margin-right: 0px;
}
.social_media li a{
    width: 40px;
    height: 40px;
    border:1px solid #ccc;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 100%;
}
.social_media li:hover a{
    background-color: #1a73e8;
    color: #fff;
    border-color: #1a73e8;
}
.mb-50{
    margin-bottom: 50px;
}
.mr-15{
    margin-right: 15px;
}

.rbc-calendar .rbc-toolbar button{
    padding: 1px 5px;
    background: #1a73e8;
    color: #fff;
    border:none;
    border-right:1px solid #fff;
    font-size: 11px;
    font-weight: 300;
}
.rbc-calendar{
    background: #fff;
    padding: 15px;
    float: left;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 0px 7px 0.2px rgba(0,0,0,0.1);
}
.rbc-calendar .rbc-toolbar button:active, 
.rbc-calendar .rbc-toolbar button.rbc-active{
    background: #fd3c97;
    color: #fff;
}
.rbc-toolbar .rbc-toolbar-label{
    font-weight: 600;
    text-transform: uppercase;
}

.rbc-event-content{
    font-size: 9px;
    padding: 0px;
}
.rbc-row-content .rbc-event, .rbc-row-content .rbc-day-slot .rbc-background-event{
    padding: 0px 2px;
    border-radius: 0px;
    background: #fd3c97;
    text-transform: capitalize;
}
.Chart_graph{
    background: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 7px 0.2px rgba(0,0,0,0.1);
}

.notics_board{
    float: left;
    width: 100%;
    position: relative;
    background: #fff;
    
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0.2px rgba(0,0,0,0.1);
}
.notics_board img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    
}
.column_notification h6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.notics_board h5{
    padding: 15px 15px 15px;
    border-bottom: 1px solid #ccc;
}

.notics_board ul{
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: 380px;
    overflow-y: scroll;
   padding: 0px 15px 15px 15px;
}
.notics_board ul::-webkit-scrollbar {
    width: 2px;
    border-radius: 30px;
}
.notics_board ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.notics_board ul::-webkit-scrollbar-thumb {
background-color: #888;
}
.notics_board ul li {
    flex: auto;
    position: relative;
    padding-left: 0px;
    padding-bottom: 20px;
}
.notics_board ul li:last-child {
    padding-bottom: 0px;
}
.notics_board.extra_style ul li{
    padding-left: 20px;
}
.notics_board.extra_style ul li::before{
    position: absolute;
    content: "";
    top: 22px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 99;
    border:2px solid #000;
    background: #fff;
}
.notics_board.extra_style ul li::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 5px;
    border-left: 1px solid #ccc;
    bottom: 0px;
}
.notics_board.extra_style ul li:first-child::after{
    top: 30px;
}
.column_notification {
    float: left;
    width: 100%;
}

.column_notification small{
    text-transform: capitalize;
    font-size: 11px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    opacity: 0.5;
}
.column_notification > small{
    margin-bottom: 5px;
}
.column_notification small i{
    margin-right: 5px;
}
.column_notification h6{
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    color: #1a73e8;
    
}
.column_notification h6 small{
    width: auto;
    font-weight: 300;
    margin-left: 10px;
    opacity: 0.5;
} 
.column_notification h6 small i{
    margin-right: 3px;
}
.notics_board.extra_style ul li:nth-child(odd)::before{
    border-color: #ffb822;
}
.notics_board.extra_style ul li:nth-child(odd) .column_notification h6{
    color: #ffb822;
}
.notics_board.extra_style ul li:nth-child(even) .column_notification h6{
    color: #fd3c97;
}
.notics_board.extra_style ul li:nth-child(even)::before{
    border-color: #fd3c97;
}

.fullGrid{
    float: left;
    width: 100%;
    position: relative;
}

.Calender_date{
    float: left;
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 30px;
}
.pieChars a{
    display: block;
    
}

.Filter_Scale{
    float: left;
    width: 100%;
    padding: 0px 0px 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.StudentAttendace{
    align-items: center;
}
.StudentAttendace button.btn-normal{
    height: 100%;
    padding: 11px 30px;
}
.StudentAttendace h5{
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
}
.StudentAttendace .custom-field{
    margin-bottom: 0px; 
}
.filter_grid.flex{
    padding: 0px 15px 0px;
}
.attandace_table {
    background: #fff;
    padding: 0px 15px 0px;
    overflow-x: scroll;
    width: 100%;
}
.attandace_table h5{
    margin-bottom: 20px;
    padding-left: 0px;
 
}
.attandace_table table{
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.attandace_table table thead tr th{
    border-left: 1px solid rgba(0, 0, 0, 0.01);
    padding: 7px 9px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.attandace_table table td {
    text-align: center;
    padding: 2px 9px;
}
.attandace_table td span{
    font-size: 10px;
}
.Stut_img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.attandace_table tr td h6{
    font-size: 12px;
    line-height: normal;
    margin-bottom: 0px;
} 
.attandace_table tr td:nth-child(odd){
    background: rgba(0, 0, 0, 0.05);
}
.attandace_table tr td:nth-child(even){
    /* background: #888; */
}
.attend_block{
    float: left;
    width: 100%;
    position: relative;
}
.attend_block span{
    font-size: 20px;
    
    display: inline-block;
}
.attend_block .not{
    color: red;
}
.attend_block .yes{
    color: green;
}
.wapper_content.bigexpend .wapper_content{
    padding-left: 20px;
    
}

.wapper_content .status_cards{
    width: 24%;
    flex: 0 0 24%;
}
.process_flow{
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 10px 30px;
}
.process_flow li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
}
.process_flow li::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #000;
    margin-top: -3px;
}
.process_flow li span{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}
.process_flow li img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.process_flow li:last-child{
    margin-bottom: 0px;
}
.process_flow li.done::before{
    background: green;
}
.process_flow li.inprocess::before{
    background: #fd3c97;
}
.custom-field.mb0{
    margin-bottom: 0px;
}
.flex.mt30{
    margin-top: 30px;
}



.profile_grid{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
}
.profile_image{
    width: 100%;
    padding: 18px 0px 0px;
    float: left;
    position: relative;
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.2);
    margin-right: 10px;
}
.profile_grid .Table_of_content{
    width: 100%;
    flex: 0 0 70%;
}
.profile_grid .Table_of_content .ag-theme-alpine .ag-root-wrapper{
    border-color: rgba(0, 0, 0, 0.05);
}
.profile_image .col{
    text-align: center;
}
.profile_image .col > img{
    width: 100%;
    padding: 0px 0px;
    width: 50%;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}
.personal_info{
    flex: 0 0 100%;
    padding-left: 7px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.personal_info ul{
    float: left;
    width: 100%;
}
.personal_info ul li{
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 100%;
}
.personal_info ul li:last-child{
    margin-bottom: 0px;
}
.personal_info li span{
    float: right;
    text-align: left;
    width: 50%;
    font-size: 100%;
    color: #000;
    text-transform: capitalize;
} 

.Grouping_btn{
    width: 100%;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}
.Grouping_btn li{
    margin-bottom: 10px;
}
.Grouping_btn li button i{
    width: 30px;
    height: 30px;
    background: #f1f2f4;
    border-radius: 2px;
    font-size: 14px;
    color: #646464;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
.Grouping_btn li button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding: 0px 10px 0px 4px;
}
.Grouping_btn li button span{
    width: 0px;
    display: inline-block;
    font-size: 0px;
    transition: all 0.2s ease-in-out;
}
.Grouping_btn li:hover button,
.Grouping_btn li:hover button i{
    background: #007bff;
    color: #fff;
    box-shadow: none;
}
.Grouping_btn li:hover button{
    padding: 0px 10px 0px 4px;
}

.Grouping_btn li:hover button span{
    width: 100%;
    font-size: 14px;
}
.information{
    float: left;
    width: 100%;
    overflow: hidden;
}
.Student_card{
    overflow: hidden;
    width: 310px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
    position: relative;
}
.Student_card figure{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    padding: 25px 20px 20px;
    z-index: 999;
}
.Student_card figure img{
    width: 69px;
    margin-right: 10px;
}
.Student_card figure h5{
    font-family: 'OldEnglishATT' !important;
    width: 44%;
    margin-bottom: 0px;
}
.student_image{
    text-align: center;
    position: relative;
}
.child_view{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;

}

.student_image img{
    border:10px solid #965f26;
    border-radius: 26px;
    width: 150px;
    position: relative;
    height: 150px;
    z-index: 999;
    margin-bottom: 10px;
}
.student_image::before{
    position: absolute;
    top: 0px;
    content: "";
    left: 0px;
    width: 100%;
    height: 46px;
    transform: rotate(-21deg) translate(-22px, 44px) scaleX(1.5);
    background: #965f26;
    z-index: 0;
}
.student_image::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    transform: rotateY(45deg) translate(0px, 0px);
    z-index: 1;
}
.Card_base{
    position: relative;
    float: left;
    width: 100%;
    /* background: #0f1149; */
    /* margin-top: 30px; */
    z-index: 99;
    text-align: center;
}
.Card_base::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: rotateZ(-21deg) scaleX(1.5) translate(56px, -56px);
    background: #0f1149;
}
.Card_base::after{
    position: absolute;
    content: "";
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #0f1149;
    z-index: -1;
}
.Card_base h5{
    color: #fff;
    position: relative;
    margin-bottom: 0px;
    line-height: 24px;
}
.Card_base h5:first-child{
    margin-bottom: 4px;
}
.info_crd{
    position: relative;
    display: flex;
    padding: 15px 15px 15px;
    justify-content: space-between;
    align-items: center;
}
.siblings .info_crd li{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;

    font-size: 12px;
}
.Student_card .info_crd li{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    color: #fff; 
    font-size: 9px;
}
.info_crd li:last-child{
    margin-bottom: 0px;
}
.info_crd li span{
    width: 53%;
    font-size: 100%;
    display: inline-block;
    float: right;
}
.info_crd .QrCodes{
    width: auto;
    height: auto;
    background: #fff;
    padding: 3px;
}
.QrCodes{

}
.bg-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.x2 {
    flex-wrap: wrap;
}
.flex.x2 > div{
    flex: 0 0 49%;
}
.Parent_infomation{
    float: left;
    width: 100%;
    padding-right: 10px;
}
.margin-rtl{
    flex-wrap: wrap;
    justify-content: space-between;
}
.margin-rtl .Student_card{
    margin-right: 0px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    flex: 0 0 49%;
    width: 100%;
}

.status_btn{
    display: inline-block;
    padding: 0px 0px;
    border-radius: 30px;
    font-size: 11px;
    color: #fff;
    /* width: 40px; */
    padding: 0px 8px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.status_btn.green{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6bb01e+0,6bb01e+100&1+0,0.48+100 */
background: -moz-linear-gradient(left,  rgba(107,176,30,1) 0%, rgba(107,176,30,0.48) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(107,176,30,1) 0%,rgba(107,176,30,0.48) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(107,176,30,1) 0%,rgba(107,176,30,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb01e', endColorstr='#7a6bb01e',GradientType=1 ); /* IE6-9 */

}
.status_btn.red{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e70404+0,e70404+100&1+0,0.48+100 */
background: -moz-linear-gradient(left,  rgba(231,4,4,1) 0%, rgba(231,4,4,0.48) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(231,4,4,1) 0%,rgba(231,4,4,0.48) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(231,4,4,1) 0%,rgba(231,4,4,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e70404', endColorstr='#7ae70404',GradientType=1 ); /* IE6-9 */


}
.workingLogs{
    padding-right: 15px;
}
.workingLogs .notics_board {
    margin-bottom: 30px;
}



.columns-w8.width100{
    width: 100%;
}
.Table{
    float: left;
    width: 100%;
}

.login_id{
    display: inline-block;
    width: 100%;
}
.login_id figure{
    width: 100%;
    text-align: center;
    padding: 0px 0px;
}
.login_id figure img{
    border-radius: 100%;
    width: 80px;
    border:2px solid #ccc;
    padding: 4px;
    margin-bottom: 20px;
}
.login_id figure figcaption{

}






/*=======================================*/
.Right_section{
    position: absolute;
    top: 0px;
    left: 0%;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
.Right_section:before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0,0,0,0.5);
    z-index: 9;
}

.bubbles
{
    position: absolute;
    top: 0;
    left: 0%;
    width:100%;
    height: 100%;
    z-index: 99;
}

.bubbles li
{
    position: absolute;
    list-style: none;
    display: flex;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.3);
    animation: animate 25s linear infinite;
    bottom: -300px;
}

.bubbles li:nth-child(1)
{
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}

.bubbles li:nth-child(2)
{
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}


.bubbles li:nth-child(3)
{
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.bubbles li:nth-child(4)
{
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.bubbles li:nth-child(5)
{
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.bubbles li:nth-child(6)
{
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.bubbles li:nth-child(7)
{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8)
{
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}


.bubbles li:nth-child(9)
{
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}


.bubbles li:nth-child(10)
{
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 12s;
}


@keyframes animate
{
    0%
    {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }
    
      100%
    {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
}

.mb20{
    margin-bottom: 20px;
}

.CountDownAlert .modal-content{
    background:transparent;
    box-shadow: none;
    border:none;
}
.CountDownAlert h2{
    font-weight: 600;
    font-size: 60px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: center;
    animation-duration: 1s;
    animation-name: zooming;
    animation-iteration-count: infinite;
}

@keyframes zooming {
    to {
       transform: scale(1);
     }
     from {
        transform: scale(1.2);
     }
   }


   .dotblink{
    position: relative;
    display: inline-block;
    padding-left: 15px;
   }
   .dotblink:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
    margin-top: -9px;
    animation: blinker 1s linear infinite;
   }
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }

  .dotblink.active:before{
    background-color: #4CAF50 ;
  }
  .dotblink.deactive:before{
    background-color: #fd3c97 ;
  }

  .BaseDataSettings{
    position: relative;
    float: left;
    width: 100%;
    padding-right: 20px;
    align-items: inherit;
    background-color: #fff;
    padding: 15px;
  }
  
  .BaseDataSettings .heading button{
    position: absolute;
    right: 30px;
    top: 0px;
    padding: 7px 10px
}

.BaseDataSettings .flex .custom-field{
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-right: 0px;
    border:1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    
}
.BaseDataSettings .flex .custom-field > div{
    width: 100%;
    border-radius: 0px;
}  
.BaseDataSettings .flex .custom-field > div > div{
    border-radius: 0px;
}
.BaseDataSettings .flex .flex{
    padding: 0px 20px 0px 0px;
}

.flexCnter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    text-align: center;
    flex-wrap: wrap;
}
.flexCnter a{
    position: absolute;
    bottom: 0px;
    
    display: inline-block;
    width: 150px;
    text-align: center;
    height: auto;
    margin: 50px auto;
    
}

.checkbox_custom{
    float: left;
    width: 100%;
}
.flex-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.BaseDataSettings .flex-flex .custom-field{
    flex: 0 0 14%;
    margin: 0px 0px 15px;
}
.BaseDataSettings .flex-flex .custom-field.selections_box > div{
    width: 100%;
}
.BaseDataSettings .flex .custom-field.datePick{
    flex: 0 0 48%;
}
.column-100{
    width: 100%;

    float: left;
}
.BaseDataSettings .row.flex .custom-field{
    margin-bottom: 0px;
}
.BaseDataSettings  .column-100 .flex{
    justify-content: space-between;
}
.BaseDataSettings  .column-100 .flex > div{
    flex: 1 0 0;
    width: auto;
    margin-bottom: 0px;
    margin-right: 15px;
}
.BaseDataSettings  .column-100 .flex > div button{
    padding: 10px 30px;
}
.BaseDataSettings  .column-100 .flex > div button i{
    position: relative;
    background: transparent;
    border: none;
    top: auto;
    left: auto;
    bottom: auto;
    color: #fff;
    padding: 0px;
    width: auto;
    height: auto;
    line-height: normal;
    margin-right: 10px;
}
.siblings{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}


.siblings .student_image::after,
.siblings .student_image::before,
.siblings .Card_base::after,
.siblings .Card_base::before{
    display: none;
}
.siblings{
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: #fff;
    padding: 8px 10px 10px 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0.2px rgb(0 0 0 / 20%);
}
.siblings .child_view{
    top: 0px;
    right: 0px;
    left: auto;
}
.siblings > figure {
    width: 60px;
    display: none;
}
.siblings .student_image{
    float: left;
    width: 100px;
    height: 100px;
}
.siblings .student_image img{
    width: 100%;
    height: 100%;
    border:2px solid #007bff;
    border-radius: 4px;
}
.siblings .Card_base{
    text-align: left;
    padding: 0px 0px 0px 20px;
}
.siblings ul li,
.siblings .Card_base h5{
    color: #000;
}
.siblings .Card_base h5{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;

}
.siblings .Card_base .info_crd{
    padding: 0px 0px 0px;
}
.siblings .Card_base .sib_none{
    display: none;
}

.siblings .info_crd .QrCodes{
    padding: 0px;
    margin: 22px 10px 0px 0px;
}
.Student_card .none{
    display: none;
}

.viewslist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-bottom: 10px;
    border-radius: 7px;
}
.viewslist button{
    flex: 0 0 1;
    padding: 5px 20px;
    color: #fff;
    background: #007bff;
    border-radius: 0px;
}

.viewslist button.active{
    background-color: #fd3c97;
}


.Fees_block{
    float: left;
    width: 100%;
}
.Fees_block .flex{
    align-items: center;
    justify-content: center;
}
.Fees_block .selection_box{
    flex: 1 0 0;
    margin-bottom: 0px;

}
.Fees_block .flex.form_desgin > div{
    flex: 1 0 0;
    margin-bottom: 0px;
}
.margin_list{
    float: left;
    width: 100%;
    margin: 0px;
}

.Radius-imge{
    border-radius: 100%;
}

.Tab_nav{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.Tab_nav ul{
    display: inline-block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}
.Tab_nav ul li{
    float: left;
    width: auto;
    /* border-right: 1px solid #ccc; */
}
.Tab_nav ul li:last-child{
    border-right: 0px;
}
.Tab_nav ul li button{
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    color: #333;
    padding: 7px 15px;
    border-radius: 3px;
}
.Tab_nav ul li.active button{
    background: #007bff;
    color: #fff;
}


.select_small{
    line-height: normal;
    width: 100%;
    padding: 0px;
    border:none;
    height: auto;
    font-size: 14px;
    text-align: left;
    margin-left: 0px;
    width: auto;
    padding-right: 0px;
    text-transform: capitalize;
    position: relative;
    left: -4px;
}
.select_small:focus{
    outline: none;
}
.flex_box .Titles{
    line-height: 24px;
}

.expences{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.expences .ex_column{
    background-color: #fff;
    padding: 15px;
    flex: 0 0 24%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 0.2px rgb(0 0 0 / 20%);
}
.expences .ex_column h6{
    color: #999;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 7px;
}
.expences .ex_column h5{
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}
.bottom_status > span{
    background: rgb(0, 204, 136);
    padding: 0px 6px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    margin-right: 2px;
    font-size: 10px;
}
.ex_column .bottom_status{
   float: left;
   width: 100%;
}
.icon_batch i{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 24px;
    display: inline-block;
    background: #07bc0c;
    color: #fff;
    text-align: center;
    line-height: 50px;

} 
.icon_batch i{
    
}
.ex_column.bg-blue .bottom_status > span{

}
.ex_column.bg-blue .icon_batch i{

}
.ex_column.bg-blue .bottom_status > span{

}
.ex_column.bg-blue .icon_batch i{

}
.ex_column.bg-blue .bottom_status > span{

}
.ex_column.bg-blue .icon_batch i{

}
.ex_column.bg-blue .bottom_status > span{

}
.ex_column.bg-blue .icon_batch i{

}


.graph_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 32.4%;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0px 0px 7px 0.2px rgb(0 0 0 / 20%);
    
}
.status_graph img{
    width: 50px;
    margin-bottom: 10px;
}
.graph_box figure{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.graph_box figure img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.graph_box figure figcaption h6{
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 3px;
    width: 100%;
}
.graph_box figure figcaption i{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0f1149;
    color: #fff;
    text-transform: capitalize;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
.status_graph h6{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
}
.status_graph small{
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    font-size: 11px;
}
.Check_status{
    margin-bottom: 5px;
    font-weight: 400;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}

.progress-bar-success{
    background-color: #07bc0c;
}
.progress-bar-warning{
    background-color: #ffb822;
}
.progress-bar-danger{
    background-color: #f1646c;
}
.graph_box .progress div{
    
}
.graph_box .progress{
    height: 5px;
    position: relative;
   
} 
.graph_box .progress .progress-bar{
    background-image: linear-gradient(100deg,#2152ff,#21d4fd);
    background-image: -webkit-linear-gradient(100deg,#2152ff,#21d4fd);
    background-image: -moz-linear-gradient(100deg,#2152ff,#21d4fd);
}
.graph_box .progress.done .progress-bar{
    background-image: linear-gradient(100deg,#17ad37,#98ec2d);
    background-image: -webkit-linear-gradient(100deg,#17ad37,#98ec2d);
    background-image: -moz-linear-gradient(100deg,#17ad37,#98ec2d);
} 
.graph_box .progress.error .progress-bar{
    background-image: linear-gradient(100deg, #DC2424, #db6161);
    background-image: -webkit-linear-gradient(100deg, #DC2424, #db6161);
    background-image: -moz-linear-gradient(100deg, #DC2424, #db6161);
} 
.graph_box .progress::after,
.graph_box .progress::before{
    position: absolute;
    top: 0px;
    bottom: 0px;
    content: "";
    border-radius: 1px 1px 1px 1px;
    background-color: #fff;
}
.graph_box .progress::before{
    left: 30%;
    border-right: 7px solid #fff;
}
.graph_box .progress::after{
 border-left: 7px solid #fff;
 left: 70%;   
}


.birthday_grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0px 0px 7px;
    overflow: hidden;
}
.BirthdayCard{
    flex: 1 0 0;
    text-align: center;
    position: relative;
    z-index: 22;
    background: #fff;
    margin: 0px 5px;
    padding: 0px 0px 10px;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
    border-radius: 10px;
    
}
.BirthdayCard figure img{
    border-radius: 100%;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 8px;
    
}
.BirthdayCard h5{
    margin-bottom: 0px;
    font-size: 12px;
}
.BirthdayCard h6{
    margin-bottom: 0px;
    font-size: 12px;
}
.BirthdayCard span{
    font-size: 12px;
}


.mb5{
    margin: 0px 0px 5px;
    z-index: 999;
    position: relative;
}
.topTag{
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: capitalize;
    padding: 0px 5px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    display: inline-block;
    z-index: 99;
    font-size: 8px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
}
























.background {
position: relative;
float: left;
width: 100%;
    background: #123;
  }
  
  /* head::before,
  head::after, */
  /* .background::before,
  .background::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  .background::before {
    text-shadow: 0.0288900474em 0.6082404477em 7px rgba(255, 0, 228, 0.9), 0.0485874399em 0.0288224885em 7px rgba(255, 0, 169, 0.9), 0.9690786728em 0.7821441716em 7px rgba(0, 112, 255, 0.9), 1.0185385277em 2.0852799867em 7px rgba(0, 255, 213, 0.9), 0.0620338482em 1.8654085231em 7px rgba(255, 10, 0, 0.9), 1.288931602em 2.0677206249em 7px rgba(0, 250, 255, 0.9), -0.1160019107em 0.7385303214em 7px rgba(255, 0, 245, 0.9), 1.0967144541em 1.258414669em 7px rgba(255, 0, 96, 0.9), 2.0709919816em 0.0657680102em 7px rgba(0, 255, 165, 0.9), 0.5364152545em 1.5446638563em 7px rgba(255, 0, 53, 0.9), 1.7627857667em -0.394976409em 7px rgba(255, 0, 144, 0.9), -0.0399797739em 0.111392363em 7px rgba(0, 150, 255, 0.9), -0.200435614em 0.6836355659em 7px rgba(0, 158, 255, 0.9), 2.1991157093em 2.3627786071em 7px rgba(11, 255, 0, 0.9), 2.0109043515em 2.1953780853em 7px rgba(0, 142, 255, 0.9), 1.037979353em 0.5147688192em 7px rgba(185, 255, 0, 0.9), 0.0470663211em 1.9412367762em 7px rgba(0, 225, 255, 0.9), 0.4715551245em 1.5680655495em 7px rgba(255, 90, 0, 0.9), 0.2550579297em -0.4517666239em 7px rgba(255, 19, 0, 0.9), 2.3569753015em 2.4234297409em 7px rgba(0, 255, 179, 0.9), 0.2636430721em -0.1743422162em 7px rgba(255, 0, 157, 0.9), 1.4724032891em 0.350232728em 7px rgba(255, 151, 0, 0.9), 0.550531876em 2.3158547963em 7px rgba(0, 255, 93, 0.9), 1.4391667347em 0.5902691883em 7px rgba(164, 255, 0, 0.9), 1.8143954151em 2.1527584032em 7px rgba(102, 255, 0, 0.9), 1.1551526195em 0.3060133053em 7px rgba(0, 255, 181, 0.9), 2.3774015049em -0.0201779545em 7px rgba(45, 0, 255, 0.9), 1.4876739503em -0.0819061211em 7px rgba(0, 255, 152, 0.9), 1.2208448198em 2.0001675466em 7px rgba(255, 0, 182, 0.9), -0.3433267266em 1.4601924282em 7px rgba(255, 0, 213, 0.9), -0.1461492558em 1.7245885724em 7px rgba(181, 255, 0, 0.9), 0.680095052em -0.0097166974em 7px rgba(27, 0, 255, 0.9), 1.3630498984em 1.1137051775em 7px rgba(0, 255, 123, 0.9), -0.4048431251em 0.3849176762em 7px rgba(51, 0, 255, 0.9), 1.8387386489em 2.2289804834em 7px rgba(162, 0, 255, 0.9), 1.6088931397em 1.9339035957em 7px rgba(109, 0, 255, 0.9), 0.3598250961em 2.0636028715em 7px rgba(151, 255, 0, 0.9), -0.2149158735em 1.6132651195em 7px rgba(255, 58, 0, 0.9), -0.1534580136em 0.6189282995em 7px rgba(255, 0, 218, 0.9), 1.6366109364em 0.9414931855em 7px rgba(156, 255, 0, 0.9), 0.0299742553em -0.3633975569em 7px rgba(255, 121, 0, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  .background::after {
    text-shadow: 1.5442085789em 1.6370938263em 7px rgba(186, 0, 255, 0.9), 1.9018640641em -0.4581221248em 7px rgba(255, 44, 0, 0.9), -0.4187279911em 1.2865338092em 7px rgba(0, 255, 47, 0.9), -0.487163031em 0.2247616229em 7px rgba(255, 12, 0, 0.9), 2.4359995498em 0.851524906em 7px rgba(94, 255, 0, 0.9), 1.0074668095em 0.1647776331em 7px rgba(26, 255, 0, 0.9), 2.4163267248em -0.2365445816em 7px rgba(255, 8, 0, 0.9), 1.4950999278em 1.1418213203em 7px rgba(132, 255, 0, 0.9), 1.9284958193em 1.2777436037em 7px rgba(0, 255, 55, 0.9), 1.2029728935em 0.9625884424em 7px rgba(0, 255, 18, 0.9), 1.1613558513em 1.4905576058em 7px rgba(97, 0, 255, 0.9), 1.900124624em 1.3047336062em 7px rgba(221, 0, 255, 0.9), 0.3589978623em 2.1088031573em 7px rgba(0, 255, 89, 0.9), 0.7558177061em 0.4794734818em 7px rgba(134, 255, 0, 0.9), 0.9048936208em 1.8736081629em 7px rgba(142, 255, 0, 0.9), 0.8706218655em 0.7668799686em 7px rgba(218, 0, 255, 0.9), 2.2245694258em 1.4679469476em 7px rgba(68, 255, 0, 0.9), 1.8563514301em -0.0073366162em 7px rgba(134, 0, 255, 0.9), 1.4989156449em 2.3585959417em 7px rgba(35, 255, 0, 0.9), 2.2945153668em 0.8124788302em 7px rgba(167, 255, 0, 0.9), 0.4448875273em 2.4696350981em 7px rgba(76, 0, 255, 0.9), 0.7826628044em 0.8178060051em 7px rgba(224, 0, 255, 0.9), 1.3537509122em 0.6193580872em 7px rgba(255, 188, 0, 0.9), -0.2905647812em 1.499051681em 7px rgba(255, 235, 0, 0.9), 0.1213346918em 1.0091551205em 7px rgba(0, 255, 73, 0.9), 1.5127672998em -0.3090861361em 7px rgba(0, 255, 189, 0.9), 2.3551673616em 2.3003454492em 7px rgba(0, 57, 255, 0.9), 2.3932451211em -0.0590267968em 7px rgba(96, 255, 0, 0.9), -0.4829639026em 0.1232207208em 7px rgba(63, 255, 0, 0.9), -0.0733165648em 1.8968526009em 7px rgba(255, 102, 0, 0.9), 0.5017627006em -0.4034425145em 7px rgba(255, 172, 0, 0.9), 0.2439683092em 0.6018133728em 7px rgba(139, 0, 255, 0.9), 0.9228027703em 1.4015367406em 7px rgba(68, 0, 255, 0.9), 0.6094672535em 0.6304082397em 7px rgba(0, 230, 255, 0.9), 1.2840257236em 0.1918504785em 7px rgba(0, 90, 255, 0.9), 2.3372973165em 2.355687248em 7px rgba(190, 255, 0, 0.9), -0.1702013545em 1.8162383755em 7px rgba(0, 45, 255, 0.9), -0.0608954673em 1.9715155354em 7px rgba(0, 255, 253, 0.9), 2.3563453091em 2.4449229717em 7px rgba(255, 0, 140, 0.9), -0.0646942086em 1.8768931731em 7px rgba(0, 197, 255, 0.9), 0.9440867495em 1.0577191578em 7px rgba(168, 0, 255, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
   */
  /* head::before {
    text-shadow: 0.2879412894em 1.9584558358em 7px rgba(0, 101, 255, 0.9), 1.1716047919em 2.0097503977em 7px rgba(84, 255, 0, 0.9), 1.2652354348em 1.1429425594em 7px rgba(67, 0, 255, 0.9), 1.861449339em 2.1976716291em 7px rgba(255, 193, 0, 0.9), 0.2456437262em 0.6259296535em 7px rgba(0, 112, 255, 0.9), -0.1077759844em 0.1452370307em 7px rgba(255, 0, 255, 0.9), 2.2018882103em 0.6160015198em 7px rgba(54, 255, 0, 0.9), 0.7341843167em -0.3580034397em 7px rgba(113, 0, 255, 0.9), 1.6912743013em 1.4058871202em 7px rgba(255, 130, 0, 0.9), 0.6425823592em 2.0257420444em 7px rgba(170, 0, 255, 0.9), 0.1780517679em 2.3281133392em 7px rgba(255, 167, 0, 0.9), -0.4029777456em -0.0095844644em 7px rgba(129, 0, 255, 0.9), 1.0209900404em -0.2537498479em 7px rgba(7, 255, 0, 0.9), 2.164927948em 1.3957867939em 7px rgba(255, 0, 225, 0.9), 0.9296345744em 2.4403474386em 7px rgba(157, 0, 255, 0.9), 1.4777802479em 1.0499554443em 7px rgba(255, 59, 0, 0.9), 1.3140244812em -0.0708420095em 7px rgba(210, 0, 255, 0.9), 0.1386081714em 0.1482172492em 7px rgba(0, 255, 176, 0.9), -0.1098414443em -0.4693994582em 7px rgba(56, 255, 0, 0.9), 0.0739278108em 1.4803614002em 7px rgba(245, 0, 255, 0.9), 2.3553007368em 0.9058184658em 7px rgba(114, 255, 0, 0.9), 2.4121951349em -0.4961842071em 7px rgba(255, 0, 100, 0.9), -0.124438235em 1.5163350301em 7px rgba(0, 245, 255, 0.9), 0.5150768092em 2.3890985719em 7px rgba(0, 255, 11, 0.9), 0.5909523917em 0.1176552455em 7px rgba(255, 0, 5, 0.9), -0.3708316975em 0.2849519422em 7px rgba(136, 0, 255, 0.9), 1.3470721666em 0.0326539672em 7px rgba(255, 0, 140, 0.9), 1.9516560129em 0.3867588445em 7px rgba(255, 0, 113, 0.9), 0.5315446836em -0.2581153041em 7px rgba(0, 246, 255, 0.9), 2.1712675554em -0.0094224355em 7px rgba(255, 0, 72, 0.9), 2.3446965784em 2.3648967591em 7px rgba(0, 255, 31, 0.9), -0.3319994351em 2.1830579119em 7px rgba(255, 162, 0, 0.9), 1.8908975851em -0.1782665972em 7px rgba(0, 255, 178, 0.9), 1.3561726669em 0.0662250032em 7px rgba(14, 0, 255, 0.9), 0.8716412452em 1.9923186479em 7px rgba(244, 0, 255, 0.9), 0.3591191674em 0.9033381687em 7px rgba(255, 183, 0, 0.9), 1.3919672186em 0.4825954341em 7px rgba(0, 255, 42, 0.9), 2.3277578336em 2.0892148417em 7px rgba(255, 169, 0, 0.9), 1.9555462839em 1.1562401959em 7px rgba(92, 255, 0, 0.9), 0.4504109393em 1.2888640981em 7px rgba(0, 255, 3, 0.9), 0.1364155938em 2.0967008148em 7px rgba(0, 255, 84, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: -0.0563261557em 1.521220933em 7px rgba(255, 195, 0, 0.9), 1.9503554224em 0.2499799034em 7px rgba(0, 238, 255, 0.9), 0.8318289992em 1.8854863248em 7px rgba(0, 104, 255, 0.9), -0.1957383297em -0.0870998006em 7px rgba(0, 224, 255, 0.9), -0.2672966563em 1.8611866379em 7px rgba(0, 255, 213, 0.9), 1.0124076091em 2.2877064031em 7px rgba(88, 0, 255, 0.9), 1.8829798548em 2.1963376684em 7px rgba(134, 255, 0, 0.9), 0.3114703715em 0.9492762094em 7px rgba(0, 255, 209, 0.9), 0.4492692913em 0.5199895477em 7px rgba(0, 255, 240, 0.9), 1.8433576565em 1.3818711406em 7px rgba(102, 255, 0, 0.9), 1.0701406167em 2.1450325698em 7px rgba(0, 255, 135, 0.9), 0.7027632924em 1.651093267em 7px rgba(255, 0, 9, 0.9), 0.6100379559em 0.2540053881em 7px rgba(58, 0, 255, 0.9), 2.3808934714em 2.2889858509em 7px rgba(206, 255, 0, 0.9), 1.501866863em 0.4478729195em 7px rgba(141, 255, 0, 0.9), 2.3657341958em 0.7297580117em 7px rgba(0, 19, 255, 0.9), -0.3571076515em 0.1011207943em 7px rgba(0, 59, 255, 0.9), -0.3549927625em 2.0504873244em 7px rgba(76, 255, 0, 0.9), 1.5886766208em 0.9227293186em 7px rgba(0, 255, 175, 0.9), 1.5360643802em 0.1250340638em 7px rgba(92, 0, 255, 0.9), 0.8908551845em 0.2292868905em 7px rgba(196, 0, 255, 0.9), 0.9325548032em 0.3568463223em 7px rgba(0, 255, 137, 0.9), 0.3344814955em 0.2872714067em 7px rgba(0, 255, 236, 0.9), 0.2253458529em -0.3002493453em 7px rgba(132, 0, 255, 0.9), -0.3691973013em -0.4126566174em 7px rgba(194, 0, 255, 0.9), 0.6801300024em 1.0006827781em 7px rgba(0, 180, 255, 0.9), -0.0737507974em 2.0607641153em 7px rgba(0, 255, 217, 0.9), 1.3819444232em 1.2472125163em 7px rgba(255, 106, 0, 0.9), 1.0765291483em -0.1833478638em 7px rgba(165, 0, 255, 0.9), 2.2930311678em 2.3522885528em 7px rgba(255, 11, 0, 0.9), 0.4331872721em 1.8003034136em 7px rgba(167, 255, 0, 0.9), 1.7085513789em 0.4469252236em 7px rgba(32, 255, 0, 0.9), -0.4791209683em 2.0453235632em 7px rgba(0, 255, 194, 0.9), 1.0833084em 0.9941622799em 7px rgba(0, 100, 255, 0.9), 0.6790917555em 1.0259868495em 7px rgba(0, 255, 56, 0.9), 0.2159434132em 0.3166229065em 7px rgba(255, 0, 199, 0.9), 1.2044404886em 1.5651986593em 7px rgba(255, 212, 0, 0.9), 1.1087940116em 0.566062521em 7px rgba(255, 0, 103, 0.9), 2.3456718716em 1.7648862114em 7px rgba(98, 0, 255, 0.9), 1.2163401532em 1.1632952616em 7px rgba(255, 140, 0, 0.9), 0.9592879649em -0.486324161em 7px rgba(255, 0, 81, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  } */
  
  /* @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  } */

  .ChallanForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0px;
   

  }
  .ChallanForm:last-child .columns{
    border-bottom: none;
  }

  .ChallanForm .columns{
    flex: 0 0 1;
    background-color: #fff;
    padding: 15px 15px 15px;
    position: relative;
    width: 33.333%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
     border-bottom: 1px dashed #000;
    
  }
  .ChallanForm .columns::before{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    z-index: 999;
    height: 100vh;
    border-right: 1px dashed #666;
    }
    .ChallanForm .columns:last-child::before{
        display: none;
    }
  .waterMark{
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    transform: rotate(-45deg) translate(-30px, 80px);
    opacity: 0.05;
    z-index: 0;
  }
  .waterMark span{
    display: inline-block;
    width: 100%;
    font-size: 40px;
    line-height: 70px;
  }
  .footer_table{
    position: relative;
    float: left;
    width: 100%;
  }
  .footer_table .waterMark{
    transform: rotate(-45deg) translate(40px, 50px);
    bottom: 0px;

  }
  .footer_table .waterMark span{
    font-size: 35px;
  }
  .flex_challan{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .flex_challan img {
    width: 100%;
  }
  .flex_challan h1{
    display: inline-block;
    width: 64px;
  }
  
  
  .flex_challan > .HeadTitle{
    flex: 0 0 1;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .HeadTitle{
    text-transform: capitalize;
    width: 100%;
  }
  .HeadTitle h5{
    text-transform: capitalize;
    margin-bottom: 0px;
    width: 100%;
    font-family: 'OldEnglishATT' !important;
    font-size: 24px;
    font-weight: 600;
  }
  .HeadTitle h6{
    margin-bottom: 0px;
  }
  .HeadTitle small{
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .date_of_challan {

  }
  .date_of_challan h6{
    width: 100%;
    position: relative;
    margin-bottom: 0px;
  }
  .date_of_challan small{
    display: inline-block;
    width: 100%;
  }
  .List_of_challan{
    flex: auto;
  }
  .List_of_challan .Student_info{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .Student_info li{
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 4px;
    font-size: 9px;
  }
  .Student_info li:nth-child(5),
  .Student_info li:first-child{
    flex: 0 0 65%;
    width: 65%;
  }
  .Student_info li:nth-child(5) span,
  .Student_info li:first-child span{
    display: inline-block;
  }
  .Student_info li b{
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 11px;
    float: left;
    margin-right: 10px;
  }
  .Student_info li span{
    display: inline-block;
    border-bottom: 1px solid #666;
    width: auto;
    flex: 1 0 0;
    text-align: left;
    margin-right: 15px;
    font-size: 11px;
  }
  .Student_info li.address_box{
    width: 100%;
    flex: auto;
}
.Student_info li.address_box span{
    border:none;
    margin-bottom: 0px;
}
  .table_Challan thead th{
    background: #666;
    font-size: 11px;
    padding: 3px 10px;
    border:none;
    text-align: center;
    border-right:1px solid #fff;
  }
  .table_Challan tbody td{
    text-align: center;
    border-right:1px solid #c0c0c0;
  }
  .table_Challan tbody td:last-child{
    border-right:1px solid #c0c0c0;

  }
  .table_Challan tbody tr:last-child td{
    border-bottom: 1px solid #c0c0c0;
  }
  .table_Challan tfoot td{
    text-align: center;
  }
  /* .table_Challan thead th, */
  .table_Challan tfoot td,
  .table_Challan tbody td{
    padding: 0px 0px;
    font-size: 11px;
  }
  .table_Challan tfoot td span{
    text-align: right;
    display: inline-block;
    width: 100%;
    background: #666;
    color: #fff;
    padding: 1px 15px;
    font-size: 11px;
  }
  .footer_table{
    float: left;
    width: 100%;
  }
  .notes{
    float: left;
    width: 100%;
  }
  .notes span{
    display: inline-block;
    background-color: #666;
    color: #fff;
    padding: 0px 5px;
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .notes ul {
    list-style: decimal;
    float: left;
    width: 100%;
    padding-left: 15px;
  }
  .notes ul li{
    font-size: 9px;
  }
  .footerbase{
    
  }

  .Due_dates span.rights{ 
    float: right;
  }
  .Due_dates h6 span,
  .Due_dates h6{
    font-size: 11px;
  }
.Due_dates{
    float: left;
    width: auto;
}
  .QrCodes.right{
    float: right;
    width: auto;
    text-align: center;
  }
  .QrCodes.right canvas{
    float: right;
  }

  .btn_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: normal;
    height: 100%;
  }
  
  .Paid,
  .unPaid,
  .btn_action button{
    line-height: normal;
    text-transform: capitalize;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
    border:1px solid rgb(0 0 0 / 20%)
  }
  .btn_action button i{
    margin-right: 5px;
  }
  .clr1{
    background: #EEA43B;
    color: #fff;
  }
  .clr2{
    background-color: #D24744;
    color: #fff;
  }
  .Paid{
    background-color: #4CAC4A;
    color: #fff;
    

  }
  .unPaid{
    background-color: #D24744;
    color: #fff;
  }
  .clr3,
  .Paid,
  .unPaid{
    padding: 2px 5px;
    text-transform: capitalize;
  }
  .clr3{
    background: #49B7D8;
    color: #fff;
    margin-left: 10px;
  }
  .wappers_scame{
    float: left;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: 5px;
    height: 100%;
  }
  .Tranding{
    display: flex;
    justify-content: space-between;

    width: 40%;
  }
  .Tranding figure{
    position: relative;
    text-align: center;
  }
  .Tranding figure span{
    position: absolute;
    top: -20px;
    left: 0px;
    font-weight: 600;

    text-align: center;
    margin: 0 auto;
    right: 0px;
  }
  .Tranding figure figcaption{
    line-height: normal;
    text-align: center;
  }
  .Tranding figure figcaption h6{
    margin-bottom: 0px;
    line-height: normal;
    display: inline-block;
    width: 100%;
    margin: 0px;
  }
  .Tranding figure img{
    width: 60px;
    border-radius: 100%;
    margin-bottom: 5px;
  }

  .Result_table{
    float: left;
    width: 100%;
  }
  .Result_table table{
    float: left;
    width: 100%;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 0px 4px 1px rgb(0 0 0 / 20%);
  }
  .Result_table tr td,
  .Result_table tr th{
    padding: 3px 5px;
    text-align: center;
  }
  .Result_table tr th{
    font-weight: 400;
  }
  /* .Result_table tbody tr td img{
    width: 40px;
    border-radius: 100%;
  } */


  .SelectionArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-bottom: 9px;
  }
  .radioBox input{
    display: none;
  }
  .radioBox label{
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600;
  }
  .radioBox label span{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    float: left;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    border:1px solid #000;
  }
  .radioBox label span::before{
    content: "\f00c";
    font-size: 18px;
    top: 50%;
    margin-top: -13px;
    opacity: 0px;
    visibility: hidden;
    position: absolute;
    font-family: fontawesome;
  }
  .radioBox input[type="radio"]:checked + label span:before {
    opacity: 1;
    visibility: visible;
  }
  .BaseDataSettings .flex.form_desgin{
    margin-bottom: 0px;
  }
  .BaseDataSettings .flex.form_desgin .custom-field.datePick,
  .BaseDataSettings .flex.form_desgin .custom-field{
    flex: 1 0 13%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .BaseDataSettings .flex.form_desgin .checkbox{
    margin-right: 10px;
  }
  .Grid_view .flex{
    position: relative;
  }
  .Grid_view .custom-field{
    position: relative;
    margin-bottom: 0px;
  }
  .BaseDataSettings .flex.form_desgin .fullwidth textarea{
    height: 38px;
    overflow: hidden;
  }
  .BaseDataSettings .flex.form_desgin .fullwidth{
    overflow: hidden;
    border-radius:3px;
    margin-right: 0px;
  }
  .Crud_actions button{
    padding: 10px 24px;
  }

  .addMore{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .modal-content .addMore.flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;

  }
  .addMore.flex > div{
    flex: 0 0 1;

  }
  .addMore.flex .flex.form_desgin{
    flex: 0 0 85%;
    padding: 0px;
  }
  .add_row button{
    cursor: pointer;
    width: auto;
    font-size: 18px;
    margin-right: 10px;
  }

  .Payments_collections{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .Payments_collections li{
    flex: auto;
    margin-bottom: 20px;
  }
  .Payments_collections li:last-child{
    margin-bottom: 0px;
  }

.BaseDataSettings .flex.form_desgin.onlyone{
    width: 20%;
    margin-bottom: 12px;
    position: relative;

  }
  .BaseDataSettings .flex.form_desgin.twocolumns{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
    z-index: 999;

  }
  .BaseDataSettings .flex.form_desgin.twocolumns > div{
    flex: 0 0 20%;
  } 
  .Attachments{
    width: auto;
    flex: auto;
  }
  .uploadedImage{
    position: relative;
    
  }
  .uploadedImage span{
    width: 100%;
    padding: 12px 24px;
  }
  .uploadedImage img{
    width: 70px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
  }


  .StudentCards{
    justify-content: flex-start !important;
  }
  .flex.StudentCards{
    width: min-content;
    flex-wrap: wrap;
  }
  .StudentCards > div{
    width: 215px;
    height: 306px;
    margin: 0px;
    flex: 0 0 215px;
    background-color: #fff;
  }



  .extraSize.Student_card{
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .extraSize.Student_card figure h5{
    width: 44%;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .extraSize.Student_card figure img{
    width: 41px;
  }
  .extraSize.Student_card .student_image img{
    border: 4px solid #965f26;
    border-radius: 12px;
    width: 80px;
    position: relative;
    height: 80px;
    z-index: 999;
}
.extraSize.Student_card .Card_base::before{
    transform: rotateZ(-21deg) scaleX(1.5) translate(18px, -26px);
}
.extraSize.Student_card .student_image::before{
    transform: rotate(-21deg) translate(-22px, 17px) scaleX(1.5);
}
.extraSize.Student_card .student_image::after{
    top: -12px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    transform: rotateY(43deg) translate(0px, -2px);
    z-index: 1;
}
.StudentCards > div{
    
}
.extraSize.Student_card .Card_base h5{
    font-size: 12px;
    line-height: 12px;
}
.extraSize.Student_card .Card_base{
    height: 100%;
}
.extraSize.Student_card .info_crd li{
    font-size: 9px;
}
.extraSize.Student_card .info_crd{
    padding: 12px 9px 12px;
    align-items: flex-start;
}
.extraSize.Student_card .info_crd .QrCodes{
    padding: 1px;
    
}
.extraSize.Student_card figure{
    padding: 9px 16px 13px;
}

.BackSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.BackSide img{
    width: 100px;
    height: 142px;
    padding: 0px 0px;
}
.BackSide span{
    position: absolute;
    bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}

.flex.StudentCards.PreSchool {
    
}
.flex.StudentCards .custom-field{
    border-radius: 0px;
}
.flex.StudentCards.PreSchool figure{
    justify-content: center;
    padding-bottom: 15px;
    position: relative;
    z-index: 999;
}
.flex.StudentCards.PreSchool figure img{
    /* width: 54px; */
    margin-right: 0px;
}
.flex.StudentCards.PreSchool .student_image::after,
.flex.StudentCards.PreSchool .custom-field.Student_card{
    background-color: #fff112;
}
.flex.StudentCards.PreSchool .student_image::before{
    background-color: #3a4499;
}
.flex.StudentCards.PreSchool .Card_base,
.flex.StudentCards.PreSchool .Card_base::before{
    background-color: #6600cd;
}
.flex.StudentCards.PreSchool .student_image img{
    position: relative;
    border:4px solid #fff112;
}

.borderAfter{
    border-radius: 2px;
    width: 80px;
    position: relative;
    height: 80px;
    z-index: 999;
    margin: 0 auto 6px;
    overflow: hidden;
}
.borderAfter img{
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    /* border-radius: 0px !important; */
    
}
.borderAfter:before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    z-index: 998999;
    bottom: 22%;
    right: 0px;
    border-left: 4px solid #3a4499;
    border-top: 4px solid #3a4499;
    border-radius: 12px 12px 0px 0px;
}
.borderAfter:after{
    position: absolute;
    content: "";
    right: 0px;
    z-index: 998999;
    border-radius: 12px 12px 0px 0px;
    height: 40%;
    top: 0px;
    border-right: 4px solid #3a4499;
    width: 100%;
}


.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}



.topGrid{
    position: relative;
    padding: 15px;
    z-index: 2;
    color: #fff;
    margin-bottom: 0px;
}
.topGrid::after{
    background-image: url('../../public/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    z-index: -1;
}
.topGrid::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #2a4070;
    opacity: 0.44;
    z-index: 0;
}
.topGrid img{
    width: 40px;
    margin-right: 10px;
    position: relative;
}
.topGrid small{
    position: relative;
    color: #fff;
}
.topGrid h3{
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    margin: 0px;
    line-height: normal;
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    z-index: 99;
    position: relative;
}
.flex .column9{
    flex: 0 0 78%;
    padding-right: 10px;
}
.flex .column3{
    flex: 0 0 22%;
    /* padding-left: 10px; */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
}
.aligntop{
    align-items: flex-start;
}
.Total_amounts{
   background-color: #f8f8fa;
   float: left;
   width: 100%;
   padding: 20px 15px 0px;
}
.Total_amounts h5{
    margin-bottom: 10px;
}
.Total_amounts li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-weight: 500;
}
.Total_amounts li:last-child{
    border-bottom: none;
    /* padding-bottom: 0px; */
    /* margin-bottom: 0px; */
}
/* .Total_amounts li span:first-child{
    float: left;
}
.Total_amounts li span:last-child{
    float: right;
} */