/*==================================================
	Typography FILE.CSS
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
   font-family: 'Poppins', sans-serif;
*/
@font-face {
    font-family: 'OldEnglishATT';
    src: url('fonts/OldEnglishATT.eot');
    src: url('fonts/OldEnglishATT.eot?#iefix')format('embedded-opentype'),url('fonts/OldEnglishATT.woff2') format('woff2'),url('fonts/OldEnglishATT.woff') format('woff'),url('fonts/OldEnglishATT.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    /* font-display: optional; */
}


*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}
body {
    color: #2b2b2b;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
	font-weight:400;
    font-weight: normal;
    background-color: #F4F5FA;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	height: 100%;
}
.wrapper{
	float: left;
	width: 100%;
	background-color: #F4F5FA;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}
/* Heading Typo */
body h1, body h2, body h3, body h4, body h5, body h6 {
    color:#2e2e2e;
    font-style: normal;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
    line-height: normal;
    margin: 0px 0px 10px 0px;
    text-transform: capitalize;
}
h1 {
    font-size: 100%;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 13px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#2e2e2e;
}
/* Paragraph Typo */
p {
	color:#2e2e2e;
	margin:0px 0px 0px 0px;
	font-weight:400;
	font-size:12px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0px;
	
}
p a {
    color: #7abf18;
}
/* Link Typo */
a {
    color:#2e2e2e;
    text-decoration: none;
    font-size:12px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
}
body a{
  text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
}
/* HTML-5 Element Typo */
header,
detail,
article,
aside,
hgroup,
nav,
section,
figure,
figcaption,
footer{
	display:block;	
}
audio,
video,
canvas{
	float:left;
	width:100%;	
}
/* UL Typo */
ul {
    margin-bottom: 0px;
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul,
ol {
	list-style: none;
	margin: 0 0 0px 0px;
	padding:0px;
}
li > ul,
li > ol {
	margin: 0 0 0 0px;
}
li ol li:last-child,
li ul li:last-child{
	margin-bottom:0px;
}
/* Figure Element Typo */
img {
    max-width: 100%;
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	width:100%;
}
figure {
	margin: 0;
	position:relative;
}
/* Clear Typo */
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

/* Defaul Elment Typo */
strong {
    color: #2b2b2b;
}
address {
	font-style: italic;
	margin-bottom: 24px;
}

abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

b,
strong {
	font-weight: 700;
	color: #2b2b2b;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 24px;
}

pre {
	border: 1px solid #2b2b2b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top:10px;
	clear:both;
	display:inline-block;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
	font-size: 14px;
	color:#2b2b2b;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

dl {
	margin-bottom: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 24px;
}
del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}
/* IFrame Typo */
iframe {
    border: none;    
    width: 100%;
}
/* Form Input Typo */
fieldset {
	border: 1px solid #2b2b2b;
	margin: 0 0 24px;
	padding: 11px 12px 0;
}

legend {
	white-space: normal;
}

label {
    color: #2e2e2e;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

select {
    border: 1px solid #c0c0c0;
    color: #2e2e2e;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

button {
    border: none;
    background-color: transparent;
}

button,
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	color: #575757;
	font-weight: 400;
	line-height: 1.5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #cccccc;
    color: #b2b2b2;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 4px 10px;
    vertical-align: middle;
	font-family: 'Poppins', sans-serif;
}
form p {
    float: left;
    position: relative;
    width: 100%;
}
span{
  font-size: 13px;
}
form p span i {
    color: #555;
    left: 16px;
    position: absolute;
    top: 13px;
}
/* ThemeUnit Style's */
.fullsection {
    width: 100%;
    padding: 0px;
}
.fullsection .row {
    margin: 0px;
}
.fullsection [class*="col-md-"] {
    padding: 0px;
}
.full-content {
    width: 100%;
    float: left;
    padding: 0px;
}
.full-content .row { 
	margin: 0px; 
}
.thememargin { 
	margin: 0px 0px 30px 0px; 
}
.kd-pagesection {
    float: left;
    width: 100%;
}
/*Table Typo*/
table,
th,
td {
	border: 1px solid #c0c0c0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
	padding:15px;
}

td {
	border-width: 0 1px 1px 0;
	padding:15px;
}

/* Place Holder Typo */
::-webkit-input-placeholder 	{color: #b2b2b2; text-transform:capitalize;}
:-moz-placeholder 				{ color: #b2b2b2; opacity: 1; text-transform:capitalize;}
::-moz-placeholder 				{ color: #b2b2b2; opacity: 1; text-transform:capitalize;}
:-ms-input-placeholder 			{color: #b2b2b2; text-transform:capitalize;}


.flex{
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* align-items: center; */
	flex-wrap: wrap;

}
.flex.start_top{
	align-items: flex-start;
}
  .custom-field {
	display: block;
	max-width: 100%;
	border: 0;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.05);
	position: relative;
	color: #a7b4c1;
	transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
	  box-shadow: 0.1s ease-in-out;
	  flex: 1 0 20%;
	  border-radius: 4px;
	  margin: 0px 12px 22px 0px;
	  height: 38px;

	  /* flex: 0 0 23.8%; */
	 
  }

  .selections_box.custom-field{
	height: 40px;
  }
  .custom-field p{
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
  }
  .custom-field.fullwidth.errors{
	border:2px solid ;
  }
  .selections_box select{
	 outline: none; 
	 color: #2b2b2b;
	 padding-left: 38px;
	 border: none;
	 font-size: 14px;
	 background: #f9f9f9;
	 border-radius: 4px;
	 box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.05);
  }
  .selections_box select option{
	  padding: auto;
  }
  
  .custom-field label{
	  margin-bottom: 0px;
	  width: 100%;
	  padding-left: 20px;
  }
  /* .custom-field:hover {
	box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  } */
  
  .custom-field input {
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	top: 0;
	border:none;
	box-shadow: none;
	z-index: 3;
	display: block;
	transition: top 0.1s ease-in-out;
	width: 100%;
	color: #2b2b2b;
	height: 100%;
	border:2px solid #f9f9f9; 
	border-radius: 4px;
	outline: 1px solid rgba(0,0,0,0.1);
	padding-left: 38px;
	font-size: 14px;
  }
 
  .selections_box{
	border:2px solid #f9f9f9; 
  }
  .selections_box select{
	height: 36px;
  }
  .custom-field input::placeholder {
	color: rgba(0, 0, 0, 0);
  }
  

.custom-field.idGenerate > div > div{
	border-radius: 0px;
	border:none;
  }
  .custom-field.idGenerate > div{
	border-radius: 4px;

  }
 
.custom-field.fullwidth{
	width: 100%;
	position: relative;
	
	float: left;
	flex: 0 0 1;
	height: 100%;
	box-shadow: none;
	background: transparent;
	justify-content: end;

}
.fullwidth textarea{
	height: 90px;
	width: 100%;
	resize: none;
	padding: 15px;
	color: #2b2b2b;
	font-size: 13px;
	position: relative;
	padding: 10px 42px;
	border:none;
	box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 5%);
	
}
.fullwidth .btn-normal{
	width: 100%;	
	margin: 0px;
	padding: 10px;
	margin-bottom: 10px;
}

.parentOfupload .btn-normal{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 10px;
	cursor: pointer;
}
.parentOfupload .btn-normal label{
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.parentOfupload .progress{
	position: absolute;
    top: -3px;
    left: 0px;
    right: 0px;
}

.parentOfupload .btn-normal label h6{
	color: #fff;
	margin-left: 10px;
	font-size: 12px;
}
.parentOfupload .progress-bar{

  }
  .custom-field label h6{
	position: absolute;
	border: 0;
	top: 0;
	left: 10px;
	right: 0;
	bottom: auto;
	margin-bottom: 0px;
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 0 0;
	box-sizing: border-box;
	transition: all 0.1s ease-in-out;
	cursor: text;
	bottom: 0px;
	background: transparent;
	color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	box-shadow: none;
	text-transform: capitalize;
	font-size: 13px;
	margin:0 0 0 35px;
  }
  .selections_box label h6,
  .selections_box input:focus + label h6,
  .selections_box input:not(:placeholder-shown) + label h6,
  .idGenerate label h6,
  .custom-field input:focus + label h6,
  .custom-field input:not(:placeholder-shown) + label h6{
    font-size: 12px;
	bottom: auto;
    opacity: 1;
    z-index: 9;
    opacity: 1;
    top: -2px;
    width: max-content;
    padding: 0px 2px 0px;
	line-height: 4px;
    vertical-align: middle;
	color: #333;
	background: #f9f9f9;
	outline: none;
  }


 
  .custom-field input:focus {
	  outline:none;
  }
  .form_desgin.flex i{
    width: 35px;
    line-height: 40px;
    color: #000;
	background-color: #fff;
    float: left;
    position: absolute;
    left: 0px;
    font-size: 14px;
    top: 0%;
    bottom: 0px;
	margin-top: 0px;
	height: 100%;
	border-right: 1px solid #ccc;
	border-radius: 0px;
	text-align: center;
} 


.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today{
	color: #fff;
	border-radius: 4px;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header,.react-datepicker__day-name{
	color: #fff;
}






.image_box{
	position: relative;
	
}
.image_box span{
	position:relative;
}
.image_box img{
	position:absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	height: 38px;
	width: 38px;
}
.heading.align-center{
	text-align: center;
}
.heading.align-center h4{
	justify-content: center;
}
.wapper_content{
	width: 100%;
}
.sprator_line{
	width: 99%;
	cursor: pointer;
}
.sprator_line h5{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.sprator_line h5 span{
	margin-right: 10px;
}
.form_style > .flex{
	align-items: flex-start;
}
.sprator_line .btn-normal{
	float: right;
	color: #fff;
	text-transform: capitalize;	
}
.sprator_line .btn-normal i{
	line-height: 28px;
	width: 25px;
}
.datePick{
	position: relative;
	z-index: 999;
}
.datePick.custom-field.idGenerate input{
	height: 100%;
}
.react-datepicker__input-container{
	float: left;
	width: 100%;
	height: 100%;
}
.react-datepicker-popper{
	z-index: 999;
}
.react-datepicker-wrapper{
	height: 100%;
}
.upload_image{
	margin-bottom: 30px;
	cursor: pointer;
}
.upload_image img{
	width: 100%;
}

.camra_model .webCam{
	width: 100%;
	float: left;
}
.btn-normal.iconss{
	margin-bottom: 20px;
}
.btn-normal.iconss i{
	margin-right: 10px;
}
.picture_editing_tools{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 10px;
}
.picture_editing_tools .btn-normal{
	position: relative;
	cursor: pointer;
	float: right;
	margin-right: 15px;
}
.picture_editing_tools .btn-normal:first-child{
	margin-right: 0px;
}
.picture_editing_tools .btn-normal i{
	position: relative;
	border-radius: 0px;
	box-shadow: none;
	background: transparent;
	border:none;
	padding: 0px;
	top: 0px;
	right: 0px;
	width: auto;
	height: auto;
	color: #fff;
	line-height: normal;
	cursor: pointer;
}
.filters{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	width: 100%;
}
.widget .custom-field label{
	position: absolute;
}
.widget .custom-field select{
	padding-left: 10px;
}

.degress_buttons{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.degress_buttons button{
	padding: 5px 10px;
	border:1px solid #ccc;
	color: #333;
	text-transform: capitalize;
	font-weight: 500;
	cursor: pointer;
}
.degress_buttons button:active,
.degress_buttons button:hover,
.degress_buttons button:focus{
	color: #fff;
}

.croping{
	display: flex;
	justify-content: center;
	align-items: center;
}
.croping button{
	cursor: pointer;
}
.modal-content .flex {
	align-items: flex-start;
	margin-bottom: 30px;
}
.modal-content .flex .Final_result,
.modal-content .flex .columns{
	width: auto;
	flex: 1 0 0;
	padding: 0px 15px;
	overflow: hidden;

}
body .crop-container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80px;
  }
  .crop-container span{
	cursor: pointer;
  }
  .crop-container span.btn-normal{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
  }
  body .reactEasyCrop_Container{
	position: relative;
  }
  body .reactEasyCrop_Contain{
	position: relative;
  }
  body .controls {
	position: relative;
	bottom: 20px;
	left: 50%;
	width: 50%;
	transform: translateX(-50%);
	height: 40px;
	display: flex;
	align-items: center;
	background: transparent;
	width: 100%;
  }
  
  .slider {
	padding: 22px 0px;
  }
  
  .zoom-range {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 2px;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	width: 100%;
  }
  
  .zoom-range::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid ;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .zoom-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid ;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .controls:hover input[type='range']::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
	border-radius: 50%;
  }
  
  .controls:hover input[type='range']::-moz-range-thumb {
	box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  }
  body div.reactEasyCrop_CropArea{
	box-shadow: none;
	overflow: hidden;
  }

  .colorsBtns{
	padding: 3px 5px;
	border-radius: 3px;
	margin: 2px;
	color: #fff;
	text-transform: capitalize;
  }
  .modal-content .flex .Final_result.extra_width{
	flex: 0 0 600px;
  }

  .Final_result{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

  }
  .Final_result div{
	flex: auto;
  }
  .Final_result div img{
	width: 100%;
	
  }
  .crop-container button{
	position: absolute;
	top: 0px;
	z-index: 99;
  }

  .Total_Amount{
	padding: 0px;
	background-color: #fff;
	width: 33%;
	float: right;
	border:1px solid #eaf0f7;
  }
  .Total_Amount ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  }
  .Total_Amount ul li{
	width: 100%;
	font-weight: 500;
	font-size: 10px;
	float: left;
	position: relative;
    padding: 5px 10px 5px 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eaf0f7;
  }
  .flex.align-bottom{
		align-items: flex-end;
  }
  .flex.align-bottom div{
	flex: 0 0 33%;
  }
  .Total_Amount h5{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 500;
	color: #7286a2;
	
  }
  .Total_Amount ul li:last-child{
	border-bottom: none;
	margin-bottom: 0px;
  }
  .FinalScreen.Total_Amount ul li{
	position: relative;
    padding: 0px 0px 0px 19px;
  }
  .FinalScreen.Total_Amount ul li:before {
	position: absolute;
    content: "";
    left: 0px;
    margin: 4px 6px;
    border: 2px solid #000;
    border-radius: 100%;

}
.copy_title{
	opacity: 0.3;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.copy_title small{
	font-size: 10px;
}
.Total_Amount ul li b{
	font-weight: 500;
	font-size: 10px;
}
.FinalScreen.Total_Amount ul li span{
	float: right;
	font-size: 10px;
	width: 30%;
}
  .Fees_cols{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
  }

  .buttons_design .colorsBtns{
	float: left;
	width: auto;
	cursor: pointer;
  }


body .voucher .heading_titile h4{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 28px;
	font-family: 'OldEnglishATT' !important;
}
body .voucher .heading_titile h5{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 16px;
}


.popup_model.PrintVoucher{
    right: 0px;
    top: 20px;
    margin: -20px 90px;
    bottom: 0px;
    height: 100%;
    z-index: 9999;
}
.popup_model.PrintVoucher .modal-content {
    max-width: 100%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    right: 0px;
    bottom: 0px;
	transform:none;
	overflow-y: scroll;
}
.popup_model.PrintVoucher .modal-content button.btn-normal{
	width: 140px;
}
.dropdown-menu{
	padding: 0px;
	-webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  right: 0px;
  margin: 0px 0px;
  padding: 0px 0px 0px;
}
.notify_content::before,
.dropdown-menu::before{
	content: "";
    top: -5px;
    left: 7px;
    right: 0px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
    border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: -1;
}
.dropdown-menu.active{
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	display: block;
}

@-webkit-keyframes fadeIn {
	from {
	  transform: scale(0);
	}
  
	to {
		transform: scale(1);
	}
  }
  
  @keyframes fadeIn {
	from {
		transform: scale(0);
	  }
	
	  to {
		  transform: scale(1);
	  }
  }
  

.dropdown-menu a,
.dropdown-menu button{
	font-size: 12px;
	padding: 9px 10px 5px;
}
.dropdown-menu a i,
.dropdown-menu button i{
	float: left;
	margin-right: 7px;
}
.dropdown-menu button,
.dropdown-menu a{
	border-bottom: 1px solid #ccc;
	text-transform: capitalize;
	position: relative;
	background: transparent;
}
.dropdown-menu button::before,
.dropdown-menu a::before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	z-index: -1;
}
.dropdown-menu button:hover i::before,
.dropdown-menu a:hover i::before,
.dropdown-menu button:hover,
.dropdown-menu a:hover{
	background: transparent;
	color: #fff;
}
.dropdown-menu button:hover::before,
.dropdown-menu a:hover::before{
	background:linear-gradient( 100deg, #3f7dcf 0%, #6596d6);
	color: #fff;
}
.dropdown-menu button:last-child,
.dropdown-menu a:last-child{
	border:none;
}




.nofiy {
    margin-right: 20px;
	position: relative;
}

.nofiy button {
    position: relative;
    font-size: 22px;
    vertical-align: middle;
    color: #a4abc5;
}

.nofiy button span {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -2px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    line-height: 18px;
    font-size: 9px;
    text-align: center;
    width: 23px;
    height: 23px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 100%;
    color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f1646c;
    -webkit-box-shadow: 0 5px 5px rgb(241 100 108 / 30%);
    box-shadow: 0 5px 5px rgb(241 100 108 / 30%);
}

.notify_content{
	position: absolute;
	right: 0px;
	background: #fff;
	width: 300px;
	padding: 0px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	box-shadow: 2px 2px 20px 0px rgb(0 0 0 / 30%);
}
.notify_content.active{
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.notify_content::before{
	left: auto;
	right: 12px;
	background: #f9f9f9;
	z-index: 9;
}
.notify_content{
	
}
.heading_notify{
	float: left;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
	padding: 15px 0px;
}
.heading_notify h4{
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 0px;
	width: 100%;
	
}
.heading_notify span{

}
.heading_notify {
	
}
.tabs_elements{
	
	float: left;
	width: 100%;
}
.tabs_elements ul{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 0px;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
}
.tabs_elements li{
	width: auto;
	margin-right: 15px;
}
.tabs_elements li:last-child{
	margin-right: 0px;
}
.tabs_elements li button{
	display: inline-block;
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	color: #2b2b2b;
	position: relative;
	padding: 5px 0px;
}
.tabs_elements li button::before{
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-bottom: 2px solid #3f7dcf;
	width: 0;
}
.tabs_elements li:hover button::before,
.tabs_elements li.active button::before{
	width: 100%;
}
.tabs_elements li:hover button,
.tabs_elements li.active button{
	color: #3f7dcf;
}
.content_area{
	float: left;
	width: 100%;
	padding: 5px 10px 5px;
}






#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}